workflow/Knowledge Sync_fixed.json
{
  "name": "Knowledge Sync",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4304,
        608
      ],
      "id": "582b0855-a40e-4ed3-9831-3469f969f07d",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4304,
        800
      ],
      "id": "2b8b64e2-170f-4fcd-bc31-5851b7059c97",
      "name": "Schedule (каждые 30 мин)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, folder_id, notify_telegram, notify_whatsapp\nFROM knowledge_clients\nWHERE active = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4064,
        704
      ],
      "id": "271e321f-9e6b-4123-99bb-62f39d14cd71",
      "name": "Get Active Clients",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3824,
        704
      ],
      "id": "5c136cc9-ee04-4f31-b03b-a31d7aada7e2",
      "name": "Loop Clients"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folder_id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "version",
            "id",
            "kind"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3584,
        704
      ],
      "id": "b72749ad-df8d-4cbd-b51b-5e19251490cb",
      "name": "Google Drive: List Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t9rodbCQUFV4TRV5",
          "name": "Truffles_UpdateDocs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all();\n\nlet client;\ntry {\n  client = $('Loop Clients').first().json;\n} catch (e) {\n  client = {\n    id: 1,\n    name: 'truffles_demo',\n    notify_telegram: '1969855532',\n    notify_whatsapp: '77759841926'\n  };\n}\n\nconst docs = files.filter(f =>\n  f.json.mimeType === 'application/vnd.google-apps.document'\n);\n\nif (docs.length === 0) {\n  return [{\n    json: {\n      client_id: client.id,\n      client_name: client.name,\n      notify_telegram: client.notify_telegram,\n      notify_whatsapp: client.notify_whatsapp,\n      status: 'no_docs',\n      message: 'Нет документов в папке'\n    }\n  }];\n}\n\nreturn docs.map(doc => ({\n  json: {\n    client_id: client.id,\n    client_name: client.name,\n    notify_telegram: client.notify_telegram,\n    notify_whatsapp: client.notify_whatsapp,\n    doc_id: doc.json.id,\n    doc_name: doc.json.name,\n    version: doc.json.version\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        704
      ],
      "id": "770d4055-e427-44b0-9d68-13c48cb5a4bb",
      "name": "Prepare Docs List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3104,
        704
      ],
      "id": "d782b89b-324a-41d4-90a4-d65a24cb9e1f",
      "name": "Loop Docs"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.doc_id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2864,
        704
      ],
      "id": "666fbbb0-5e63-4baf-81b4-4fc2ef6873a7",
      "name": "Google Docs: Get Content",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CutTmqlRZ1PcTev5",
          "name": "Truffles_UpdateDocs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Loop Docs').first().json;\nconst content = $json.body?.content || $json.text || $json.content || '';\n\nlet text = '';\nif (typeof content === 'string') {\n  text = content;\n} else if (Array.isArray(content)) {\n  text = content\n    .filter(el => el.paragraph)\n    .map(el => el.paragraph.elements\n      ?.map(e => e.textRun?.content || '')\n      .join('') || '')\n    .join('');\n}\n\nconst hasHeadings = text.includes('## ') || text.includes('# ');\nconst minLength = text.length >= 100;\n\nif (!hasHeadings) {\n  return [{\n    json: {\n      ...prevData,\n      status: 'error',\n      error: 'Документ не содержит заголовков (##)',\n      raw_content: text.substring(0, 500)\n    }\n  }];\n}\n\nif (!minLength) {\n  return [{\n    json: {\n      ...prevData,\n      status: 'error',\n      error: 'Документ слишком короткий (< 100 символов)',\n      raw_content: text\n    }\n  }];\n}\n\nconst version = prevData.version || $json.version || '1';\n\nreturn [{\n  json: {\n    ...prevData,\n    status: 'valid',\n    raw_content: text,\n    content_hash: version\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        704
      ],
      "id": "df93c768-351c-48a6-b679-a23326c5a0ca",
      "name": "Validate & Hash"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2384,
        704
      ],
      "id": "16b01754-7034-4eb8-83a8-38a7cd879021",
      "name": "If Valid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  (SELECT content_hash FROM knowledge_versions\n   WHERE client_id = {{ $json.client_id }}\n     AND doc_id = '{{ $json.doc_id }}'\n   ORDER BY created_at DESC\n   LIMIT 1),\n  'new'\n) AS content_hash;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        608
      ],
      "id": "16b4adc1-a707-4d54-befa-a227c487df11",
      "name": "Get Previous Hash",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docData = $('If Valid?').first().json;\nconst prevResult = $input.all();\n\nconst prevHash = prevResult[0]?.json?.content_hash || null;\nconst currentHash = docData.content_hash;\n\nconst hasChanges = (prevHash === 'new') || (prevHash !== currentHash);\n\nreturn [{\n  json: {\n    ...docData,\n    prev_hash: prevHash,\n    has_changes: hasChanges,\n    is_new: prevHash === 'new'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        608
      ],
      "id": "df7e195e-cf9d-4b77-a658-af092e42a232",
      "name": "Check Changes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-changes",
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1664,
        608
      ],
      "id": "85591805-13b5-42db-8403-dd7c396d3d28",
      "name": "If Changed?"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst text = data.raw_content;\n\nconst sections = [];\nconst lines = text.split('\\n');\nlet currentSection = null;\nlet currentContent = [];\n\nfor (const line of lines) {\n  const h2Match = line.match(/^##\\s+(.+)/);\n  const h1Match = line.match(/^#\\s+(.+)/);\n  \n  if (h2Match || h1Match) {\n    if (currentSection && currentContent.length > 0) {\n      sections.push({\n        title: currentSection,\n        content: currentContent.join('\\n').trim()\n      });\n    }\n    currentSection = (h2Match || h1Match)[1].trim();\n    currentContent = [];\n  } else if (currentSection) {\n    currentContent.push(line);\n  }\n}\n\nif (currentSection && currentContent.length > 0) {\n  sections.push({\n    title: currentSection,\n    content: currentContent.join('\\n').trim()\n  });\n}\n\nconst validSections = sections.filter(s => s.content.length >= 20);\n\nconst chunks = validSections.map((section, index) => ({\n  id: `${data.client_id}-${data.doc_id}-${index}`,\n  text: `## ${section.title}\\n\\n${section.content}`,\n  metadata: {\n    client_id: data.client_id,\n    doc_id: data.doc_id,\n    doc_name: data.doc_name,\n    section_title: section.title,\n    section_index: index,\n    source: 'google_docs',\n    updated_at: new Date().toISOString()\n  }\n}));\n\nreturn [{\n  json: {\n    ...data,\n    chunks: chunks,\n    chunks_count: chunks.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        512
      ],
      "id": "3b0e0b2b-462a-4094-a192-7b2625ad1eaa",
      "name": "Parse Sections"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO knowledge_versions (client_id, doc_id, doc_name, content_hash, raw_content, chunks_count)\nVALUES (\n  {{ $json.client_id }},\n  '{{ $json.doc_id }}',\n  '{{ $json.doc_name }}',\n  '{{ $json.content_hash }}',\n  $1,\n  {{ $json.chunks_count }}\n);",
        "options": {
          "queryReplacement": "={{ $json.raw_content }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1184,
        512
      ],
      "id": "63f7a511-c882-49b5-97a3-c36237f75d5a",
      "name": "Save Version",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        512
      ],
      "id": "497ce38c-ecd0-4e7f-86f8-377dfc453753",
      "name": "Loop Chunks"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        784
      ],
      "id": "84c0a85c-f24a-4e54-896c-54b8f12c6c4c",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all();\n     const firstItem = $('Prepare Chunks').first().json;\n\n     return [{\n       json: {\n         client_id: firstItem.metadata.client_id,\n         doc_name: firstItem.metadata.doc_name,\n         notify_telegram: firstItem.notify_telegram,\n         notify_whatsapp: firstItem.notify_whatsapp,\n         chunks_count: items.length,\n         status: 'success'\n       }\n     }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        416
      ],
      "id": "90070180-1ab8-40b5-8d7a-6c747e12f2a6",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO knowledge_sync_logs (client_id, status, docs_processed, chunks_added)\nVALUES ({{ $json.client_id }}, 'success', 1, {{ $json.chunks_count }});",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        512
      ],
      "id": "e9004396-6537-4e5a-809f-2ca2f0935cf5",
      "name": "Log Success",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO knowledge_sync_logs (client_id, status, error_message)\nVALUES ({{ $json.client_id }}, 'error', '{{ $json.error }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        800
      ],
      "id": "1e8285e1-85b8-462a-8731-8472e510ad15",
      "name": "Log Error",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO knowledge_sync_logs (client_id, status)\nVALUES ({{ $json.client_id }}, 'no_changes');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1424,
        704
      ],
      "id": "1542ca01-8243-49bb-b5f3-b9c5e0f39cea",
      "name": "Log No Changes",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Sections').item.json;\n     const chunks = data.chunks || [];\n\n     return chunks.map(chunk => ({\n       json: {\n         pageContent: chunk.text,\n         metadata: {\n           ...chunk.metadata,\n           client_id: data.client_id\n         },\n         notify_telegram: data.notify_telegram,\n         notify_whatsapp: data.notify_whatsapp,\n         doc_name: data.doc_name,\n         total_chunks: chunks.length\n       }\n     }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        512
      ],
      "id": "07586406-616d-42f1-8d95-02d73834139b",
      "name": "Prepare Chunks"
    },
    {
      "parameters": {
        "chatId": "={{ $('Aggregate Results').item.json.notify_telegram }}",
        "text": "=\n✅ База знаний обновлена\nДокумент: {{ $('Aggregate Results').item.json.doc_name }}\nРазделов: {{ $('Aggregate Results').item.json.chunks_count }}\nИзменения применены.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "2759c880-80d2-41e6-acfa-b30bd9a85d1e",
      "name": "Me1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        416
      ],
      "webhookId": "a964da4f-bf94-4e71-bba7-a03a508d01f5",
      "credentials": {
        "telegramApi": {
          "id": "1YMuki43SISyhVa0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $('Aggregate Results').item.json.notify_whatsapp }}@s.whatsapp.net"
            },
            {
              "name": "msg",
              "value": "=✅ База знаний обновлена\n\nДокумент: {{ $('Aggregate Results').item.json.doc_name }}\nРазделов: {{ $('Aggregate Results').item.json.chunks_count }}\n\nИзменения применены."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        624
      ],
      "id": "79b4baa4-e73e-49ff-8a25-6e0f6e8e1280",
      "name": "Notify WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.22.0.2:6333/collections/truffles_knowledge/points/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      { \"key\": \"client_id\", \"match\": { \"value\": {{ $('Parse Sections').item.json.client_id }} } },\n      { \"key\": \"doc_id\", \"match\": { \"value\": \"{{ $('Parse Sections').item.json.doc_id }}\" } }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        512
      ],
      "id": "15187672-ed68-4061-b958-85d72578e0f5",
      "name": "Qdrant: Delete Old",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tHgoKdaCF493jIDp",
          "name": "Qdrant_Local API Key"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "client_id",
                "value": "={{ $json.metadata.client_id }}"
              },
              {
                "name": "doc_id",
                "value": "={{ $json.metadata.doc_id }}"
              },
              {
                "name": "doc_name",
                "value": "={{ $json.metadata.doc_name }}"
              },
              {
                "name": "section_title",
                "value": "={{ $json.metadata.section_title }}"
              },
              {
                "name": "section_index",
                "value": "={{ $json.metadata.section_index }}"
              },
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              },
              {
                "name": "updated_at",
                "value": "={{ $json.metadata.updated_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -176,
        784
      ],
      "id": "798f9497-547a-4817-a196-2eb05199d08f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "truffles_knowledge",
          "mode": "list",
          "cachedResultName": "truffles_knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -176,
        544
      ],
      "id": "3d361e29-eccd-4214-be8e-a30704823248",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fNPgHKKlwuj3CF1q",
          "name": "QdrantLocal"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -96,
        912
      ],
      "id": "a1bdc178-7ecd-42c9-b4a3-746d22bd1c7c",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {
    "Schedule (каждые 30 мин)": [
      {
        "json": {
          "timestamp": "2025-12-03T11:47:43.885+05:00",
          "Readable date": "December 3rd 2025, 11:47:43 am",
          "Readable time": "11:47:43 am",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "03",
          "Hour": "11",
          "Minute": "47",
          "Second": "43",
          "Timezone": "Asia/Almaty (UTC+05:00)"
        }
      }
    ]
  },
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (каждые 30 мин)": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Loop Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Clients": {
      "main": [
        [],
        [
          {
            "node": "Google Drive: List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: List Files": {
      "main": [
        [
          {
            "node": "Prepare Docs List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Docs List": {
      "main": [
        [
          {
            "node": "Loop Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Docs": {
      "main": [
        [
          {
            "node": "Loop Clients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Docs: Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs: Get Content": {
      "main": [
        [
          {
            "node": "Validate & Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Hash": {
      "main": [
        [
          {
            "node": "If Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid?": {
      "main": [
        [
          {
            "node": "Get Previous Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Hash": {
      "main": [
        [
          {
            "node": "Check Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Changes": {
      "main": [
        [
          {
            "node": "If Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Changed?": {
      "main": [
        [
          {
            "node": "Parse Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sections": {
      "main": [
        [
          {
            "node": "Save Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Version": {
      "main": [
        [
          {
            "node": "Qdrant: Delete Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Chunks": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Me1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Loop Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Changes": {
      "main": [
        [
          {
            "node": "Loop Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunks": {
      "main": [
        [
          {
            "node": "Loop Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant: Delete Old": {
      "main": [
        [
          {
            "node": "Prepare Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b42702a-955f-458e-9355-ffd56f46524d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01b56804ece88a9cc615224a075b1fb601dddc8bc8fa664ead4d87907f4c7973"
  },
  "id": "zTbaCLWLJN6vPMk4",
  "tags": []
}