workflow/truffles_v2.json
{
  "name": "Truffles v2 - Multi-Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flow-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "webhook-v2",
      "name": "Webhook v2",
      "webhookId": "truffles-v2-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst metadata = body.metadata || {};\n\nconst remoteJid = metadata.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '');\nconst text = body.message || '';\nconst messageType = body.messageType || 'text';\nconst senderName = metadata.sender || '';\nconst messageId = metadata.messageId || '';\n\nif (!text.trim()) {\n  return [];\n}\n\nreturn [{\n  json: {\n    phone,\n    remoteJid,\n    text: text.trim(),\n    messageType,\n    senderName,\n    messageId,\n    timestamp: metadata.timestamp || Date.now()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0],
      "id": "parse-input-v2",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH client AS (\n  SELECT id FROM clients LIMIT 1\n),\nupserted_user AS (\n  INSERT INTO users (client_id, phone, remote_jid, name, last_active_at)\n  SELECT\n    (SELECT id FROM client),\n    '{{ $json.phone }}',\n    '{{ $json.remoteJid }}',\n    '{{ $json.senderName }}',\n    NOW()\n  ON CONFLICT (client_id, phone) DO UPDATE SET\n    last_active_at = NOW(),\n    name = COALESCE(NULLIF('{{ $json.senderName }}', ''), users.name)\n  RETURNING id\n),\nexisting_conv AS (\n  SELECT id FROM conversations\n  WHERE user_id = (SELECT id FROM upserted_user)\n    AND status = 'active'\n  ORDER BY last_message_at DESC\n  LIMIT 1\n),\nnew_conv AS (\n  INSERT INTO conversations (client_id, user_id, channel, status, last_message_at)\n  SELECT\n    (SELECT id FROM client),\n    (SELECT id FROM upserted_user),\n    'whatsapp',\n    'active',\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_conv)\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM upserted_user) AS user_id,\n  COALESCE(\n    (SELECT id FROM existing_conv),\n    (SELECT id FROM new_conv)\n  ) AS conversation_id,\n  (SELECT id FROM client) AS client_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [0, 0],
      "id": "upsert-user-v2",
      "name": "Upsert User",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content\nFROM messages\nWHERE conversation_id = '{{ $json.conversation_id }}'\nORDER BY created_at DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, 0],
      "id": "load-history-v2",
      "name": "Load History",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const history = $items('Load History') || [];\nconst userMessage = $items('Parse Input')[0].json.text;\nconst conversationId = $items('Upsert User')[0].json.conversation_id;\nconst clientId = $items('Upsert User')[0].json.client_id;\n\nconst historyText = history\n  .reverse()\n  .map(m => `${m.json.role === 'user' ? 'Клиент' : 'Бот'}: ${m.json.content}`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    message: userMessage,\n    history: historyText || '(новый диалог)',\n    conversation_id: conversationId,\n    client_id: clientId,\n    remoteJid: $items('Parse Input')[0].json.remoteJid\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "prepare-analysis-v2",
      "name": "Prepare for Analysis"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты — аналитик входящих сообщений. Твоя задача — понять контекст и намерение клиента.\n\nНЕ отвечай клиенту. Только анализируй и возвращай JSON.\n\n## Что нужно определить\n\n1. **message_type** — тип сообщения:\n   - \"greeting\" — приветствие без конкретного вопроса\n   - \"question\" — конкретный вопрос\n   - \"continuation\" — продолжение предыдущей темы\n   - \"complaint\" — жалоба или негатив\n   - \"gratitude\" — благодарность\n   - \"spam\" — спам или нерелевантное\n\n2. **intent** — что хочет клиент (своими словами, кратко)\n\n3. **is_new_topic** — это новая тема или продолжение?\n   - true — клиент начинает новый разговор или сменил тему\n   - false — продолжает предыдущую тему\n\n4. **use_history** — нужна ли история для ответа?\n   - true — история релевантна, использовать\n   - false — история не нужна или мешает\n\n5. **response_style** — какой ответ уместен:\n   - \"short\" — 1-2 предложения (приветствия, простые вопросы)\n   - \"medium\" — 3-5 предложений (большинство вопросов)\n   - \"detailed\" — структурированный ответ (сложные вопросы)\n\n6. **needs_knowledge** — нужна ли база знаний (RAG)?\n   - true — вопрос о продукте, ценах, функциях\n   - false — общий разговор, приветствие\n\n7. **knowledge_query** — что искать в базе знаний (если needs_knowledge = true)\n\n8. **emotion** — эмоциональный тон клиента:\n   - \"neutral\" — обычный\n   - \"positive\" — довольный, заинтересованный\n   - \"negative\" — раздражённый, недовольный\n   - \"urgent\" — срочно нужна помощь\n\n## Формат ответа\n\nВерни ТОЛЬКО валидный JSON без комментариев:\n\n{\"message_type\": \"...\", \"intent\": \"...\", \"is_new_topic\": true/false, \"use_history\": true/false, \"response_style\": \"short/medium/detailed\", \"needs_knowledge\": true/false, \"knowledge_query\": \"...\" или null, \"emotion\": \"neutral/positive/negative/urgent\"}"
            },
            {
              "content": "СООБЩЕНИЕ КЛИЕНТА:\n{{ $json.message }}\n\nИСТОРИЯ ДИАЛОГА:\n{{ $json.history }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [600, 0],
      "id": "agent-analysis-v2",
      "name": "Agent: Analysis",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analysisRaw = $json.output[0].content[0].text;\nconst prevData = $items('Prepare for Analysis')[0].json;\n\nlet analysis;\ntry {\n  analysis = JSON.parse(analysisRaw);\n} catch (e) {\n  analysis = {\n    message_type: 'question',\n    intent: 'неизвестно',\n    is_new_topic: true,\n    use_history: false,\n    response_style: 'medium',\n    needs_knowledge: true,\n    knowledge_query: prevData.message,\n    emotion: 'neutral'\n  };\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    analysis: analysis,\n    use_history: analysis.use_history,\n    needs_knowledge: analysis.needs_knowledge,\n    knowledge_query: analysis.knowledge_query\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "parse-analysis-v2",
      "name": "Parse Analysis"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "truffles_knowledge",
          "mode": "list"
        },
        "prompt": "={{ $json.knowledge_query || $json.message }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1000, 100],
      "id": "qdrant-search-v2",
      "name": "RAG: Knowledge Search",
      "credentials": {
        "qdrantApi": {
          "id": "fNPgHKKlwuj3CF1q",
          "name": "QdrantLocal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1000, 300],
      "id": "embeddings-v2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $items('Parse Analysis')[0].json;\nlet knowledge = '';\n\ntry {\n  const ragResults = $items('RAG: Knowledge Search') || [];\n  if (ragResults.length > 0) {\n    knowledge = ragResults\n      .map(r => r.json.document?.pageContent || r.json.pageContent || '')\n      .filter(t => t)\n      .join('\\n\\n---\\n\\n');\n  }\n} catch (e) {\n  knowledge = '(база знаний недоступна)';\n}\n\nconst historyForPrompt = prevData.analysis.use_history ? prevData.history : '(история не используется)';\n\nreturn [{\n  json: {\n    ...prevData,\n    knowledge: knowledge || '(нет релевантной информации)',\n    historyForPrompt: historyForPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "build-context-v2",
      "name": "Build Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты — консультант компании Truffles. Твоя задача — ответить клиенту.\n\n## КТО ТЫ\n- Опытный сотрудник Truffles\n- Знаешь продукт досконально\n- Уважаешь время клиента\n- Говоришь честно и по делу\n\nТы НЕ робот, НЕ AI, НЕ бот. Ты консультант. Не упоминай это.\n\n## ПРАВИЛА ОТВЕТА\n\n### По стилю response_style:\n- \"short\" → 1-2 предложения, без лишнего\n- \"medium\" → 3-5 предложений, структурировано\n- \"detailed\" → с пунктами, подробно\n\n### По эмоции клиента emotion:\n- \"neutral\" → обычный тон\n- \"positive\" → поддержать энтузиазм\n- \"negative\" → эмпатия, решение проблемы\n- \"urgent\" → быстро, по делу, без воды\n\n### По типу сообщения message_type:\n- \"greeting\" → короткое приветствие + готовность помочь\n- \"question\" → прямой ответ + уточняющий вопрос если нужно\n- \"continuation\" → продолжить тему, не повторять известное\n- \"complaint\" → эмпатия + конкретные действия\n- \"gratitude\" → принять благодарность\n- \"spam\" → вежливо вернуть к теме\n\n## ЧТО ДЕЛАТЬ\n1. Отвечай на вопрос клиента\n2. Используй информацию из базы знаний если она есть\n3. Учитывай историю если она релевантна\n4. Задавай уточняющий вопрос если это продвигает диалог\n\n## ЧЕГО НЕ ДЕЛАТЬ\n1. Не выдумывай факты\n2. Не пиши длинные вступления\n3. Не используй markdown заголовки\n4. Не повторяй известное из истории\n5. Не учи клиента делать бота самому — продавай Truffles\n\n## О КОМПАНИИ (кратко)\n- Truffles — AI-бот для бизнеса в WhatsApp/Instagram\n- Starter: 50,000 ₸/мес (1 номер, 1000 сообщений)\n- Pro: 150,000 ₸/мес (3 номера, Instagram, Kaspi Pay, CRM)\n- Тест: 7 дней бесплатно\n- Настройка: 1-3 дня"
            },
            {
              "content": "АНАЛИЗ СООБЩЕНИЯ:\n{{ JSON.stringify($json.analysis) }}\n\nСООБЩЕНИЕ КЛИЕНТА:\n{{ $json.message }}\n\nИСТОРИЯ ДИАЛОГА:\n{{ $json.historyForPrompt }}\n\nБАЗА ЗНАНИЙ:\n{{ $json.knowledge }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1400, 0],
      "id": "agent-generation-v2",
      "name": "Agent: Generation",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $items('Build Context')[0].json;\nconst responseRaw = $json.output[0].content[0].text;\n\nreturn [{\n  json: {\n    ...prevData,\n    response: responseRaw\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 0],
      "id": "extract-response-v2",
      "name": "Extract Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты — контролёр качества. Проверь ответ бота перед отправкой.\n\nНЕ исправляй ответ. Только оценивай.\n\n## КРИТЕРИИ\n1. Соответствует запросу клиента?\n2. Длина соответствует response_style?\n3. Тон соответствует emotion?\n4. Нет выдуманных фактов?\n5. Продаёт Truffles, не учит делать самому?\n6. Не вышел из роли?\n\n## РЕШЕНИЯ\n- PASS — отправить клиенту\n- FAIL — перегенерировать (плохая длина, тон, неточности)\n- ESCALATE — передать менеджеру (требует возврат, сильный негатив, юридика)\n\n## ФОРМАТ\nВерни ТОЛЬКО JSON:\n{\"decision\": \"pass/fail/escalate\", \"reason\": \"краткое объяснение\"}"
            },
            {
              "content": "СООБЩЕНИЕ КЛИЕНТА:\n{{ $json.message }}\n\nАНАЛИЗ:\n{{ JSON.stringify($json.analysis) }}\n\nОТВЕТ БОТА:\n{{ $json.response }}\n\nБАЗА ЗНАНИЙ:\n{{ $json.knowledge }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [1800, 0],
      "id": "agent-quality-v2",
      "name": "Agent: Quality Check",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $items('Extract Response')[0].json;\nconst qualityRaw = $json.output[0].content[0].text;\n\nlet quality;\ntry {\n  quality = JSON.parse(qualityRaw);\n} catch (e) {\n  quality = { decision: 'pass', reason: 'не удалось распарсить, пропускаем' };\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    quality: quality,\n    decision: quality.decision\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0],
      "id": "parse-quality-v2",
      "name": "Parse Quality"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pass",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 0],
      "id": "decision-router-v2",
      "name": "Quality Decision"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content)\nVALUES\n  ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'user', '{{ $json.message }}'),\n  ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'assistant', '{{ $json.response }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2400, -100],
      "id": "save-messages-v2",
      "name": "Save Messages",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, -100],
      "id": "send-message-v2",
      "name": "Send to WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "const prevData = $json;\n\n// При fail или escalate - отправляем placeholder и логируем\nconst placeholderResponse = prevData.decision === 'escalate' \n  ? 'Передаю ваш вопрос менеджеру, он свяжется в ближайшее время.'\n  : prevData.response; // при fail используем исходный ответ как fallback\n\nreturn [{\n  json: {\n    ...prevData,\n    response: placeholderResponse,\n    escalated: prevData.decision === 'escalate',\n    quality_reason: prevData.quality?.reason || 'unknown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 100],
      "id": "handle-fail-escalate-v2",
      "name": "Handle Fail/Escalate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content)\nVALUES\n  ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'user', '{{ $json.message }}'),\n  ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'assistant', '{{ $json.response }}');\n\n-- Логируем escalation если есть\n{{ $json.escalated ? \"INSERT INTO escalations (conversation_id, reason, created_at) VALUES ('\" + $json.conversation_id + \"', '\" + $json.quality_reason + \"', NOW());\" : \"\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2600, 100],
      "id": "save-messages-fallback-v2",
      "name": "Save Messages (Fallback)",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 100],
      "id": "send-fallback-v2",
      "name": "Send Fallback"
    }
  ],
  "connections": {
    "Webhook v2": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Prepare for Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Analysis": {
      "main": [
        [
          {
            "node": "Agent: Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Analysis": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "RAG: Knowledge Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "RAG: Knowledge Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Knowledge Search": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Agent: Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Generation": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Agent: Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Quality Check": {
      "main": [
        [
          {
            "node": "Parse Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quality": {
      "main": [
        [
          {
            "node": "Quality Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Decision": {
      "main": [
        [
          {
            "node": "Save Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Fail/Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Fail/Escalate": {
      "main": [
        [
          {
            "node": "Save Messages (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages (Fallback)": {
      "main": [
        [
          {
            "node": "Send Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
