Tech/Scripts and Data/Scripts/6_GenerateResponse_current.json
{"updatedAt":"2025-12-01T13:42:36.854Z","createdAt":"2025-12-01T13:37:17.052Z","id":"8VeZd4ZzcCQzdceM","name":"6_GenerateResponse_8VeZd4ZzcCQzdceM","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,160],"id":"553bc714-605f-47ed-bf6f-1f4be4565f56","name":"Start"},{"parameters":{"jsCode":"const source = items[0]?.json ?? {};\nconst event = source.event ?? {};\nconst client = source.client ?? {};\nconst message = source.message ?? {};\nconst adapter = source.adapter ?? {};\nconst classification = source.classification ?? {};\n\nconst intent = (classification.intent || 'unknown').toLowerCase();\nconst confidence = Number(classification.confidence ?? 0);\nconst resolvedIntent = confidence < 0.7 || intent === 'unknown' ? 'fallback' : intent;\n\nconst textCandidates = [\n  adapter.text,\n  event.message,\n  adapter.metadata?.caption,\n  adapter.metadata?.body,\n  event.metadata?.caption,\n  event.metadata?.body,\n];\nconst question = textCandidates.find((t) => typeof t === 'string' && t.trim().length > 0)?.toString().trim() || '';\n\nreturn [\n  {\n    json: {\n      event,\n      client,\n      message,\n      adapter,\n      classification: { ...classification, intent, confidence },\n      intent: resolvedIntent,\n      confidence,\n      question,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,160],"id":"0b93ede2-ce45-4f27-a26f-d2e1165643f2","name":"Prepare Input"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"faq","operator":{"type":"string","operation":"equals"},"id":"8af4a2b8-7e2b-455b-8d54-f79a1038dc1f"}],"combinator":"and"},"renameOutput":true,"outputKey":"faq"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"greeting","operator":{"type":"string","operation":"equals"},"id":"b1113c85-02b2-4c35-9e16-4b3c22487322"}],"combinator":"and"},"renameOutput":true,"outputKey":"greeting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"kaspi_check","operator":{"type":"string","operation":"equals"},"id":"1d6530c2-e58f-4bb7-9245-e5f60b2cf926"}],"combinator":"and"},"renameOutput":true,"outputKey":"kaspi_check"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"handover","operator":{"type":"string","operation":"equals"},"id":"3b509283-dfd8-4b64-b9ad-875a62ef6625"}],"combinator":"and"},"renameOutput":true,"outputKey":"handover"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-256,160],"id":"4ad598a6-8576-467a-9646-3b50abb65a6f","name":"Route by Intent"},{"parameters":{"jsCode":"const question = ($json.question || $json.event?.message || '').trim();\nconst locale = $json.event?.locale || 'ru';\n\nreturn [\n  {\n    json: {\n      ...$json,\n      question,\n      locale,\n      text: question,\n      faq_request: {\n        question,\n        intent: $json.intent,\n        user_id: $json.event?.user_id || null,\n        locale,\n      },\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-16],"id":"11821b69-2dcf-4f29-9acb-3166f706a0e8","name":"Prepare FAQ Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[320,-16],"id":"948bea2e-f9f9-4aa9-b732-e4e93642d909","name":"Create Embedding","credentials":{"openAiApi":{"id":"C31JRkzPBiItNcOT","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsCode":"const vector =\n  $json.vector ||\n  $json.embedding ||\n  $json.embeddings ||\n  $json.data?.[0]?.embedding ||\n  $json.output?.[0]?.embedding ||\n  $json.output?.[0]?.data?.[0]?.embedding ||\n  [];\n\nreturn [{ json: { ...$json, vector } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-48],"id":"9ba9d584-f108-474f-b404-d7580b6659ff","name":"Prepare Qdrant Search","disabled":true},{"parameters":{"method":"POST","url":"http://172.22.0.2:6333/collections/truffles_knowledge/points/search","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-48],"id":"bf540966-2e3b-447d-ada0-03e095a4eb4f","name":"Qdrant Search","disabled":true},{"parameters":{"jsCode":"const results = Array.isArray($json.result) ? $json.result : $json.result?.hits || [];\nconst contexts = results\n  .map((item, index) => {\n    const payload = item.payload || {};\n    const text = payload.text || payload.content || payload.answer || payload.body || '';\n    if (!text) {\n      return '';\n    }\n    return `Источник ${index + 1}:\n${text}`.trim();\n  })\n  .filter(Boolean);\n\nconst contextText = contexts.join('\n\n') || 'Контекст не найден.';\nconst question = $json.question || '';\n\nconst systemPrompt = [\n  'Ты — виртуальный помощник Truffles для WhatsApp.',\n  'Отвечай кратко и дружелюбно.',\n  'Используй контекст, если он есть. Если контекст пустой, ответь вежливо, что передаёшь вопрос менеджеру.',\n].join('\n');\n\nconst userPrompt = [\n  'Вопрос пользователя:',\n  question,\n  '',\n  'Контекст:',\n  contextText,\n].join('\n');\n\nreturn [{ json: { ...$json, system_prompt: systemPrompt, user_prompt: userPrompt, sources: contexts, faq_context: contextText } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-48],"id":"e339fe54-8650-42ad-9c30-6c2fb1ba250a","name":"Build FAQ Prompt","disabled":true},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"={{ $json.classification?.model || 'gpt-4o-mini' }}"},"responses":{"values":[{"role":"system","content":"={{ $json.system_prompt }}"},{"content":"={{ $json.user_prompt }}"}]},"builtInTools":{},"options":{"temperature":"={{ $json.temperature || 0.3 }}"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1264,-48],"id":"9ecd9772-8ecd-44ac-9122-318e3b346c9b","name":"Generate FAQ Answer","credentials":{"openAiApi":{"id":"C31JRkzPBiItNcOT","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsCode":"const raw = $json.output?.[0]?.content?.[0]?.text ?? '';\nconst text = typeof raw === 'string' && raw.trim().length > 0 ? raw.trim() : 'Не понял вопрос, передаю менеджеру';\n\nreturn [{ json: { ...$json, response_text: text, intent: 'faq' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-48],"id":"e503f43b-39e3-4869-af32-87e0ad721475","name":"FAQ Response","disabled":true},{"parameters":{"jsCode":"const text = 'Привет! Я виртуальный помощник Truffles. Чем могу помочь?';\nreturn [{ json: { ...$json, response_text: text, intent: 'greeting' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,272],"id":"b0086644-a63a-45a5-a91c-443b27c57f0d","name":"Greeting Response"},{"parameters":{"jsCode":"const text = 'Проверка оплаты временно недоступна';\nreturn [{ json: { ...$json, response_text: text, intent: 'kaspi_check' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,416],"id":"9554d76a-5d7a-4157-ad41-43857adf1199","name":"Kaspi Stub"},{"parameters":{"jsCode":"const text = 'Передаю менеджеру, ожидайте';\nreturn [{ json: { ...$json, response_text: text, intent: 'handover' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,560],"id":"ca301a35-57cf-45e1-846d-a08586ab506c","name":"Handover Stub"},{"parameters":{"jsCode":"const text = 'Не понял вопрос, передаю менеджеру';\nreturn [{ json: { ...$json, response_text: text, intent: 'fallback' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,704],"id":"0adef21d-216e-4907-8a9f-33338b67822d","name":"Fallback Response"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO public.messages (conversation_id, client_id, role, content, intent, confidence, metadata, reply_to_message_id)\nVALUES (\n  '{{ $json.message?.conversation_id || $json.event?.conversation_id || \"00000000-0000-0000-0000-000000000000\" }}'::uuid,\n  '{{ $json.client?.id || $json.message?.client_id || \"00000000-0000-0000-0000-000000000000\" }}'::uuid,\n  'assistant',\n  '{{ $json.response_text }}',\n  '{{ $json.intent || $json.classification?.intent || \"unknown\" }}',\n  {{ $json.confidence || $json.classification?.confidence || 0 }},\n  '{{ JSON.stringify({ classification: $json.classification, sources: $json.sources || [], adapter: $json.adapter }) }}'::jsonb,\n  '{{ $json.message?.id || \"00000000-0000-0000-0000-000000000000\" }}'::uuid\n)\nRETURNING id, conversation_id, client_id, role, content, intent, confidence, metadata, created_at;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,224],"id":"97c621bb-018f-4787-b371-6dac80602c72","name":"Save Response","credentials":{"postgres":{"id":"SUHrbh39Ig0fBusT","name":"ChatbotDB"}}},{"parameters":{"url":"https://app.chatflow.kz/api/v1/send-text","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"},{"name":"instance_id","value":"eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="},{"name":"jid","value":"={{ $json.event?.metadata?.remoteJid || $json.adapter?.metadata?.remoteJid || $json.event?.user_id }}"},{"name":"msg","value":"={{ $json.response_text || $json.content }}"}]},"options":{"queryParameterArrays":"brackets","lowercaseHeaders":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,224],"id":"54698f3c-2176-4bea-bad0-e46d4682d315","name":"Send WhatsApp"},{"parameters":{"mode":"load","qdrantCollection":{"__rl":true,"value":"truffles_knowledge","mode":"list","cachedResultName":"truffles_knowledge"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[272,-192],"id":"315eab85-4a5f-48a5-b69f-a7b9d0974058","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"fNPgHKKlwuj3CF1q","name":"QdrantLocal"}},"disabled":true}],"connections":{"Start":{"main":[[{"node":"Prepare Input","type":"main","index":0}]]},"Prepare Input":{"main":[[{"node":"Route by Intent","type":"main","index":0}]]},"Route by Intent":{"main":[[{"node":"Prepare FAQ Request","type":"main","index":0}],[{"node":"Greeting Response","type":"main","index":0}],[{"node":"Kaspi Stub","type":"main","index":0}],[{"node":"Handover Stub","type":"main","index":0}],[{"node":"Fallback Response","type":"main","index":0}]]},"Prepare Qdrant Search":{"main":[[{"node":"Qdrant Search","type":"main","index":0}]]},"Qdrant Search":{"main":[[{"node":"Build FAQ Prompt","type":"main","index":0}]]},"Build FAQ Prompt":{"main":[[{"node":"Generate FAQ Answer","type":"main","index":0}]]},"Generate FAQ Answer":{"main":[[{"node":"FAQ Response","type":"main","index":0}]]},"FAQ Response":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Greeting Response":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Kaspi Stub":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Handover Stub":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Fallback Response":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Save Response":{"main":[[{"node":"Send WhatsApp","type":"main","index":0}]]},"Create Embedding":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Prepare FAQ Request":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Qdrant Vector Store1":{"main":[[{"node":"Prepare Qdrant Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"event":{"channel":"whatsapp","user_id":"77015705555","session_id":"77015705555@s.whatsapp.net","message":"мне нужно купить дом","message_type":"text","attachments":[],"locale":"ru","timestamp":1764596505,"metadata":{"messageId":"3FBAD3688506C62ECE32","sender":"Zh.","remoteJid":"77015705555@s.whatsapp.net","providerMessageType":"text","caption":null,"headers":{"host":"n8n.truffles.kz","user-agent":"axios/1.11.0","content-length":"304","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"144.91.105.72","x-forwarded-host":"n8n.truffles.kz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"68926a3e1a32","x-real-ip":"144.91.105.72"},"webhookUrl":"https://n8n.truffles.kz/webhook/flow","executionMode":"production"},"raw":{"headers":{"host":"n8n.truffles.kz","user-agent":"axios/1.11.0","content-length":"304","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"144.91.105.72","x-forwarded-host":"n8n.truffles.kz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"68926a3e1a32","x-real-ip":"144.91.105.72"},"body":{"messageType":"text","message":"мне нужно купить дом","metadata":{"sender":"Zh.","timestamp":1764596505,"messageId":"3FBAD3688506C62ECE32","remoteJid":"77015705555@s.whatsapp.net"},"mediaData":null,"nodeData":{"webHook":{"text":"https://n8n.truffles.kz/webhook/flow","method":"POST"}}},"query":{},"params":{},"webhookUrl":"https://n8n.truffles.kz/webhook/flow","executionMode":"production"}},"client":{"id":"499e4744-5e7f-4a97-8466-56ff2cdcf587","name":"Truffles","status":"active","config":{"client_id":"499e4744-5e7f-4a97-8466-56ff2cdcf587","name":"Truffles","client_secret":"truffles-secret","webhook_token":"truffles-webhook-token","instance_id":"truffles-dev","channels":{"whatsapp":{"enabled":true},"telegram":{"enabled":false}}},"lookup":"https://n8n.truffles.kz/webhook/flow","config_found":false},"user":{"id":"aff56f98-4471-4075-9379-516a36601ede","client_id":"499e4744-5e7f-4a97-8466-56ff2cdcf587","phone":"77015705555","remote_jid":"77015705555@s.whatsapp.net","name":"Zh.","metadata":{"sender":"Zh.","caption":null,"headers":{"host":"n8n.truffles.kz","accept":"application/json, text/plain, */*","x-real-ip":"144.91.105.72","user-agent":"axios/1.11.0","content-type":"application/json","content-length":"304","accept-encoding":"gzip, compress, deflate, br","x-forwarded-for":"144.91.105.72","x-forwarded-host":"n8n.truffles.kz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"68926a3e1a32"},"messageId":"3FBAD3688506C62ECE32","remoteJid":"77015705555@s.whatsapp.net","webhookUrl":"https://n8n.truffles.kz/webhook/flow","executionMode":"production","providerMessageType":"text"},"last_active_at":"2025-12-01T13:41:46.577Z"},"conversation":{"id":"42f15f30-008c-471f-957e-a955f412907a"},"message":{"id":"5d61a154-fe5e-45ea-b95b-8f5ccf4b0f72","conversation_id":"42f15f30-008c-471f-957e-a955f412907a","client_id":"499e4744-5e7f-4a97-8466-56ff2cdcf587","intent":"buy_house","confidence":"0.900","metadata":{"sender":"Zh.","adapter":{},"caption":null,"headers":{"host":"n8n.truffles.kz","accept":"application/json, text/plain, */*","x-real-ip":"144.91.105.72","user-agent":"axios/1.11.0","content-type":"application/json","content-length":"304","accept-encoding":"gzip, compress, deflate, br","x-forwarded-for":"144.91.105.72","x-forwarded-host":"n8n.truffles.kz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"68926a3e1a32"},"messageId":"3FBAD3688506C62ECE32","remoteJid":"77015705555@s.whatsapp.net","webhookUrl":"https://n8n.truffles.kz/webhook/flow","message_type":"text","executionMode":"production","classification":{"raw":"{\"intent\":\"buy_house\",\"confidence\":0.9,\"language\":\"ru\",\"keywords\":[\"купить\",\"дом\"],\"entities\":{},\"handover\":false,\"reason\":\"User expressed intent to purchase a house.\"}","model":"gpt-4o-mini","intent":"buy_house","reason":"User expressed intent to purchase a house.","entities":{},"handover":false,"keywords":["купить","дом"],"language":"ru","confidence":0.9,"prompt_version":null},"providerMessageType":"text"},"created_at":"2025-12-01T13:41:46.824Z","processed_at":"2025-12-01T13:41:50.083Z"},"adapter":{},"classification":{"intent":"buy_house","confidence":0.9,"language":"ru","keywords":["купить","дом"],"entities":{},"handover":false,"reason":"User expressed intent to purchase a house.","model":"gpt-4o-mini","prompt_version":null,"raw":"{\"intent\":\"buy_house\",\"confidence\":0.9,\"language\":\"ru\",\"keywords\":[\"купить\",\"дом\"],\"entities\":{},\"handover\":false,\"reason\":\"User expressed intent to purchase a house.\"}"}}}]},"versionId":"22ea45bf-4934-4ed1-baff-1e0bca89b6ab","versionCounter":7,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:37:17.052Z","createdAt":"2025-12-01T13:37:17.052Z","role":"workflow:owner","workflowId":"8VeZd4ZzcCQzdceM","projectId":"Edco4DKU0vG4cvNQ","project":{"updatedAt":"2025-07-26T06:30:59.771Z","createdAt":"2025-07-26T06:24:57.612Z","id":"Edco4DKU0vG4cvNQ","name":"Zhanbol Nassurla <centr.ag3nt@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-07-26T06:24:57.612Z","createdAt":"2025-07-26T06:24:57.612Z","userId":"1017827a-5893-4c44-a900-9d2ec542dee9","projectId":"Edco4DKU0vG4cvNQ","user":{"updatedAt":"2025-11-30T19:00:02.861Z","createdAt":"2025-07-26T06:24:40.626Z","id":"1017827a-5893-4c44-a900-9d2ec542dee9","email":"centr.ag3nt@gmail.com","firstName":"Zhanbol","lastName":"Nassurla","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-26T06:31:12.321Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"event"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZPaS9w6u3o0ZZZzm","userActivatedAt":1756215492707,"npsSurvey":{"responded":true,"lastShownAt":1755608081520}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-30","isPending":false}}]}}],"tags":[]}