.archive/workflow/10_Handover_Monitor.json
{
  "name": "10_Handover_Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 5}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 300],
      "id": "hm-schedule-001",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  h.id as handover_id,\n  h.conversation_id,\n  h.status,\n  h.created_at,\n  h.assigned_to_name,\n  h.reminder_1_sent_at,\n  h.reminder_2_sent_at,\n  EXTRACT(EPOCH FROM (NOW() - COALESCE(h.first_response_at, h.created_at))) / 60 as minutes_waiting,\n  c.telegram_topic_id,\n  cs.telegram_chat_id,\n  cs.telegram_bot_token,\n  cs.reminder_timeout_1,\n  cs.reminder_timeout_2,\n  cs.auto_close_timeout,\n  cs.owner_telegram_id,\n  u.phone as client_phone,\n  cl.name as client_name,\n  cl.config->>'instance_id' as instance_id\nFROM handovers h\nJOIN conversations c ON c.id = h.conversation_id\nJOIN users u ON u.id = c.user_id\nJOIN clients cl ON cl.id = c.client_id\nLEFT JOIN client_settings cs ON cs.client_id = c.client_id\nWHERE h.status IN ('pending', 'active')\n  AND cs.telegram_bot_token IS NOT NULL\nORDER BY h.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-576, 300],
      "id": "hm-load-active-001",
      "name": "Load Active Handovers",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const handovers = $input.all();\nconst results = [];\n\nfor (const item of handovers) {\n  const h = item.json;\n  const minutes = Math.floor(h.minutes_waiting || 0);\n  const timeout1 = h.reminder_timeout_1 || 30;\n  const timeout2 = h.reminder_timeout_2 || 60;\n  const autoClose = h.auto_close_timeout || 120;\n  \n  let action = 'none';\n  \n  // Автозакрытие (2 часа)\n  if (minutes >= autoClose) {\n    action = 'auto_close';\n  }\n  // Второе напоминание (1 час) + тег руководителя\n  else if (minutes >= timeout2 && !h.reminder_2_sent_at) {\n    action = 'reminder_2';\n  }\n  // Первое напоминание (30 мин)\n  else if (minutes >= timeout1 && !h.reminder_1_sent_at) {\n    action = 'reminder_1';\n  }\n  \n  if (action !== 'none') {\n    results.push({\n      json: {\n        ...h,\n        action,\n        minutes_waiting: minutes\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 300],
      "id": "hm-decide-action-001",
      "name": "Decide Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.action }}", "rightValue": "reminder_1", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reminder_1"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.action }}", "rightValue": "reminder_2", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reminder_2"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"leftValue": "={{ $json.action }}", "rightValue": "auto_close", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto_close"
            }
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-128, 300],
      "id": "hm-action-switch-001",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $json.telegram_chat_id }}"},
            {"name": "message_thread_id", "value": "={{ $json.telegram_topic_id }}"},
            {"name": "text", "value": "=⏰ Заявка от {{ $json.client_phone }} ждёт {{ $json.minutes_waiting }} мин"},
            {"name": "reply_markup", "value": "={{ JSON.stringify({inline_keyboard: [[{text: 'Ответил ✓', callback_data: 'answered_' + $json.handover_id}, {text: 'Закрыть', callback_data: 'resolve_' + $json.handover_id}, {text: '+30 мин', callback_data: 'snooze_' + $json.handover_id}]]}) }}"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [96, 100],
      "id": "hm-send-reminder1-001",
      "name": "Send Reminder 1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE handovers SET reminder_1_sent_at = NOW() WHERE id = '{{ $json.handover_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [320, 100],
      "id": "hm-mark-reminder1-001",
      "name": "Mark Reminder 1 Sent",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $json.telegram_chat_id }}"},
            {"name": "message_thread_id", "value": "={{ $json.telegram_topic_id }}"},
            {"name": "text", "value": "=🔴 СРОЧНО: Клиент {{ $json.client_phone }} ждёт {{ $json.minutes_waiting }} мин!{{ $json.owner_telegram_id ? '\\n@' + $json.owner_telegram_id : '' }}"},
            {"name": "reply_markup", "value": "={{ JSON.stringify({inline_keyboard: [[{text: 'Ответил ✓', callback_data: 'answered_' + $json.handover_id}, {text: 'Закрыть', callback_data: 'resolve_' + $json.handover_id}]]}) }}"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [96, 300],
      "id": "hm-send-reminder2-001",
      "name": "Send Reminder 2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE handovers SET reminder_2_sent_at = NOW() WHERE id = '{{ $json.handover_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [320, 300],
      "id": "hm-mark-reminder2-001",
      "name": "Mark Reminder 2 Sent",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE handovers SET status = 'timeout', resolved_at = NOW() WHERE id = '{{ $json.handover_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [96, 500],
      "id": "hm-close-handover-001",
      "name": "Close Handover",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations SET bot_status = 'active', bot_muted_until = NULL, no_count = 0 WHERE id = '{{ $json.conversation_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [320, 500],
      "id": "hm-unmute-bot-001",
      "name": "Unmute Bot",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content, metadata) SELECT h.conversation_id, c.client_id, 'system', '⏱ Автозакрытие по таймауту', jsonb_build_object('event', 'auto_close', 'minutes', {{ $json.minutes_waiting }}) FROM handovers h JOIN conversations c ON c.id = h.conversation_id WHERE h.id = '{{ $json.handover_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [544, 500],
      "id": "hm-save-history-001",
      "name": "Save to History",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.chatflow.me/v1/messages/text/{{ $json.instance_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "token", "value": "a29b2ad2-9485-476c-897d-34799c3f940b"},
            {"name": "number", "value": "={{ $json.client_phone }}"},
            {"name": "text", "value": "Бот снова на связи! Чем могу помочь?"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [768, 500],
      "id": "hm-notify-client-001",
      "name": "Notify Client"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "chat_id", "value": "={{ $json.telegram_chat_id }}"},
            {"name": "message_thread_id", "value": "={{ $json.telegram_topic_id }}"},
            {"name": "text", "value": "=⏱ Заявка автоматически закрыта ({{ $json.minutes_waiting }} мин без ответа). Клиенту отправлено: \"Бот снова на связи\""}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [992, 500],
      "id": "hm-notify-topic-001",
      "name": "Notify Topic"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{"node": "Load Active Handovers", "type": "main", "index": 0}]]
    },
    "Load Active Handovers": {
      "main": [[{"node": "Decide Action", "type": "main", "index": 0}]]
    },
    "Decide Action": {
      "main": [[{"node": "Action Switch", "type": "main", "index": 0}]]
    },
    "Action Switch": {
      "main": [
        [{"node": "Send Reminder 1", "type": "main", "index": 0}],
        [{"node": "Send Reminder 2", "type": "main", "index": 0}],
        [{"node": "Close Handover", "type": "main", "index": 0}],
        []
      ]
    },
    "Send Reminder 1": {
      "main": [[{"node": "Mark Reminder 1 Sent", "type": "main", "index": 0}]]
    },
    "Send Reminder 2": {
      "main": [[{"node": "Mark Reminder 2 Sent", "type": "main", "index": 0}]]
    },
    "Close Handover": {
      "main": [[{"node": "Unmute Bot", "type": "main", "index": 0}]]
    },
    "Unmute Bot": {
      "main": [[{"node": "Save to History", "type": "main", "index": 0}]]
    },
    "Save to History": {
      "main": [[{"node": "Notify Client", "type": "main", "index": 0}]]
    },
    "Notify Client": {
      "main": [[{"node": "Notify Topic", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
