ops/2_ChannelAdapter_C38zCf2jfc2Zqfzf.json
{
  "name": "2_ChannelAdapter_C38zCf2jfc2Zqfzf",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        64
      ],
      "id": "8d796034-0479-4da4-9025-41ed83c914ba",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "// WhatsApp Adapter - Code нода\n// Вход: сырой webhook от ChatFlow.kz + client_slug\n// Выход: Normalized Message\n\nconst body = $json.body || $json;\nconst metadata = body.metadata || {};\nconst mediaData = body.mediaData || null;\nconst clientSlug = $json.client_slug || 'truffles';\n\nconst remoteJid = metadata.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '');\n\n// Валидация\nif (!phone || !metadata.messageId) {\nreturn []; // Пропустить невалидные\n}\n\nreturn [{\njson: {\n// === NORMALIZED MESSAGE ===\nchannel: 'whatsapp',\nuser_id: phone,\nsession_id: remoteJid,\nmessage_id: metadata.messageId,\ntimestamp: metadata.timestamp || Date.now(),\nsender_name: metadata.sender || '',\nmessage_type: body.messageType || 'text',\ntext: body.message || '',\nmedia: mediaData ? {\ntype: mediaData.type,\nurl: mediaData.url,\nbase64: mediaData.base64,\nmimetype: mediaData.mimetype,\nfilename: mediaData.fileName,\nsize: mediaData.size,\ncaption: mediaData.caption || ''\n} : null,\nclient_slug: clientSlug\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        64
      ],
      "id": "9796ff4d-dda7-4fd7-b5bd-2477cfd6a9ea",
      "name": "WhatsApp Adapter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DCs6AoJDIOPB4ZtF",
          "mode": "list",
          "cachedResultUrl": "/workflow/DCs6AoJDIOPB4ZtF",
          "cachedResultName": "3_Normalize_DCs6AoJDIOPB4ZtF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        64
      ],
      "id": "286a225d-a245-4153-bf67-13f5254a0f99",
      "name": "Call Normalize"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "headers": {
            "host": "n8n.truffles.kz",
            "user-agent": "axios/1.11.0",
            "content-length": "274",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "144.91.105.72",
            "x-forwarded-host": "n8n.truffles.kz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fb4d66f71278",
            "x-real-ip": "144.91.105.72"
          },
          "body": {
            "messageType": "text",
            "message": "asdfadsf",
            "metadata": {
              "sender": "Zh.",
              "timestamp": 1764911619,
              "messageId": "3F1D0B6CB1B912F5CFC7",
              "remoteJid": "77015705555@s.whatsapp.net"
            },
            "mediaData": null,
            "nodeData": {
              "webHook": {
                "text": "https://n8n.truffles.kz/webhook/flow",
                "method": "POST"
              }
            }
          },
          "query": {},
          "params": {},
          "webhookUrl": "https://n8n.truffles.kz/webhook/flow",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "WhatsApp Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Adapter": {
      "main": [
        [
          {
            "node": "Call Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25bdef48-cb9c-4c46-b9d0-c9ff10db98a0",
  "meta": {
    "instanceId": "01b56804ece88a9cc615224a075b1fb601dddc8bc8fa664ead4d87907f4c7973"
  },
  "id": "C38zCf2jfc2Zqfzf",
  "tags": []
}