ops/6_Multi-Agent_4vaEvzlaMrgovhNz.json
{
  "name": "6_Multi-Agent_4vaEvzlaMrgovhNz",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// АДАПТЕР: принимаем данные из новой цепочки\n     // Вход: turn_analysis.merged_message, session_id, user_id\n     // ИЛИ старый формат body.message (для обратной совместимости)\n\n     const raw = $json;\n\n     // Определяем источник данных\n     let phone, remoteJid, text, senderName, messageId, msgTimestamp;\n\n     if (raw.turn_analysis) {\n       // НОВЫЙ ФОРМАТ из TurnDetector\n       phone = raw.user_id || '';\n       remoteJid = raw.session_id || '';\n       text = raw.turn_analysis.merged_message || '';\n       senderName = raw.sender_name || '';\n       messageId = raw.buffered_messages?.[0]?.message_id || `turn_${Date.now()}`;\n       msgTimestamp = Date.now();\n     } else {\n       // СТАРЫЙ ФОРМАТ (body.message) - обратная совместимость\n       const body = raw.body || {};\n       const metadata = body.metadata || {};\n       remoteJid = metadata.remoteJid || '';\n       phone = remoteJid.replace('@s.whatsapp.net', '');\n       text = body.message || '';\n       senderName = metadata.sender || '';\n       messageId = metadata.messageId || '';\n       msgTimestamp = (metadata.timestamp || 0) * 1000 || Date.now();\n     }\n\n     // === VALIDATION ===\n     if (!text.trim() || text.trim().length < 2) {\n       return [];\n     }\n\n     if (text.length > 1000) {\n       text = text.substring(0, 1000) + '...';\n     }\n\n     // Защита от replay атак (сообщение старше 5 минут) - только для старого формата\n     const now = Date.now();\n     if (msgTimestamp && now - msgTimestamp > 300000) {\n       // Пропускаем проверку для нового формата (буфер уже проверил)\n       if (!$json.turn_analysis) {\n         return [];\n       }\n     }\n\n     return [{\n       json: {\n         phone,\n         remoteJid,\n         text: text.trim(),\n         messageType: 'text',\n         senderName,\n         messageId,\n         timestamp: msgTimestamp,\n         client_slug: raw.client_slug || 'truffles'\n       }\n     }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4368,
        400
      ],
      "id": "22a5bb61-5a2f-4c04-a222-08a8917d6da5",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH client AS (\n  SELECT id FROM clients WHERE name = '{{ $('Parse Input').first().json.client_slug }}'\n),\nupserted_user AS (\n  INSERT INTO users (client_id, phone, remote_jid, name, last_active_at)\n  SELECT\n    (SELECT id FROM client),\n    '{{ $json.phone }}',\n    '{{ $json.remoteJid }}',\n    '{{ $json.senderName }}',\n    NOW()\n  ON CONFLICT (client_id, phone) DO UPDATE SET\n    last_active_at = NOW(),\n    name = COALESCE(NULLIF('{{ $json.senderName }}', ''), users.name)\n  RETURNING id\n),\nexisting_conv AS (\n  SELECT id FROM conversations\n  WHERE user_id = (SELECT id FROM upserted_user)\n    AND status = 'active'\n  ORDER BY last_message_at DESC\n  LIMIT 1\n),\nnew_conv AS (\n  INSERT INTO conversations (client_id, user_id, channel, status, last_message_at)\n  SELECT\n    (SELECT id FROM client),\n    (SELECT id FROM upserted_user),\n    'whatsapp',\n    'active',\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_conv)\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM upserted_user) AS user_id,\n  COALESCE(\n    (SELECT id FROM existing_conv),\n    (SELECT id FROM new_conv)\n  ) AS conversation_id,\n  (SELECT id FROM client) AS client_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2672,
        320
      ],
      "id": "3f451a65-5b58-4fe1-a0e9-4d1df86a7c93",
      "name": "Upsert User",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content\n     FROM messages\n     WHERE conversation_id = '{{ $('Upsert User').item.json.conversation_id }}'\n       AND content IS NOT NULL\n       AND content != ''\n       AND LENGTH(content) < 1000\n     ORDER BY created_at DESC\n     LIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2224,
        368
      ],
      "id": "d51cd10e-5881-412e-9a94-5d27fb1f0eda",
      "name": "Load History",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content)\n     VALUES\n       ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'user', '{{ $json.safe_message }}'),\n       ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'assistant', '{{ $json.safe_response }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        272
      ],
      "id": "58d4e715-9929-43ea-83eb-b2bc07fa07f1",
      "name": "Save Messages",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8045341599:AAGY1vnqoebErB7Ki5iAqHusgLqf9WwA5m4/setWebhook?url=https://n8n.truffles.kz/webhook/flow",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4592,
        -320
      ],
      "id": "644656fb-e2e8-4b15-8bdd-d19e1dde7074",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content, metadata)\n     SELECT\n       '{{ $json.conversation_id }}',\n       '{{ $json.client_id }}',\n       'user',\n       '{{ $('Parse Input').first().json.text.replace(/'/g, \"''\") }}',\n       '{\"message_id\": \"{{ $('Parse Input').first().json.messageId }}\"}'\n     WHERE NOT EXISTS (\n       SELECT 1 FROM messages\n       WHERE metadata->>'message_id' = '{{ $('Parse Input').first().json.messageId }}'\n     );",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2448,
        320
      ],
      "id": "e8b5bc48-6bc1-4146-b4f7-adbb0219efcd",
      "name": "Save User Message",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3248,
        496
      ],
      "id": "bb864994-88b2-4b95-a0fe-64371bfcd49d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n       \"type\": \"object\",\n       \"properties\": {\n         \"intent\": {\n           \"type\": \"string\",\n           \"enum\": [\"greeting\", \"pricing\", \"what_is_this\", \"how_to_start\", \"availability\", \"order\", \"payment\", \"delivery\", \"details\", \"integration\", \"objection_expensive\", \"objection_later\", \"objection_doubt\", \"complaint\", \"frustration\", \"human_request\", \"thanks_positive\", \"thanks_bye\", \"out_of_domain\", \"attack\"],\n           \"description\": \"Тип намерения клиента\"\n         },\n         \"confidence\": {\n           \"type\": \"number\",\n           \"description\": \"Уверенность 0.0-1.0\"\n         }\n       },\n       \"required\": [\"intent\", \"confidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3120,
        496
      ],
      "id": "fd40fa94-ed28-4bb3-b92e-2f95b6f28d85",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b6e6bf2-e38c-4d2d-9772-aed284b3fec2",
              "leftValue": "={{ !['out_of_domain', 'attack'].includes($json.output.intent) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2896,
        368
      ],
      "id": "d433b9bc-de00-4acc-8146-0a2d43fce766",
      "name": "Is On Topic"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('RAG Search').first().json;\n\nreturn [{\n    json: {\n        ...prev\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        416
      ],
      "id": "cdc8f869-bffa-4d1d-b5f1-ad03b4e0d53a",
      "name": "Add Knowledge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1328,
        640
      ],
      "id": "382e3b3c-c97b-4283-97b9-a79d9b6c083d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"thinking\": {\n      \"type\": \"string\",\n      \"description\": \"Твои рассуждения: что спросил клиент, есть ли ответ в базе, что делать\"\n    },\n    \"has_answer\": {\n      \"type\": \"boolean\",\n      \"description\": \"true если можешь дать полезный ответ, false если не знаешь\"\n    },\n    \"needs_escalation\": {\n      \"type\": \"boolean\",\n      \"description\": \"true если нужен менеджер (сложный вопрос, жалоба, возврат)\"\n    },\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"Документ откуда взял информацию: faq.md, objections.md, cases.md, examples.md, или none если нет источника\"\n    },\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"Ответ клиенту\"\n    }\n  },\n  \"required\": [\n    \"thinking\",\n    \"has_answer\",\n    \"needs_escalation\",\n    \"source\",\n    \"response\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1200,
        640
      ],
      "id": "e2decc2c-d8a7-4dc8-9718-2dd1d7244575",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Input').first().json;\nconst history = $('Load History').all() || [];\nconst user = $('Upsert User').first().json;\n\n// Get summary if exists\nlet summaryContext = '';\ntry {\n  const summaryData = $('Load Summary').first()?.json;\n  if (summaryData?.summary) {\n    summaryContext = '[ПРЕДЫДУЩИЙ КОНТЕКСТ] ' + summaryData.summary + '\\n\\n';\n  }\n} catch (e) {}\n\n// Check escalation cooldown\nlet isInCooldown = false;\nlet escalatedAt = null;\ntry {\n  const escStatus = $('Load Escalation Status').first()?.json;\n  isInCooldown = escStatus?.is_in_cooldown || false;\n  escalatedAt = escStatus?.escalated_at;\n} catch (e) {}\n\n// Получаем intent\nlet currentIntent = 'unknown';\ntry {\n  const classifyResult = $('Classify Intent').first()?.json?.output;\n  if (classifyResult?.intent) {\n    currentIntent = classifyResult.intent;\n  }\n} catch (e) {\n  const routing = input._routing || {};\n  if (routing.isGreetingByText || routing.routeReason === 'greeting_on_topic') {\n    currentIntent = 'greeting';\n  } else if (routing.isShortAnswer || routing.routeReason === 'answer_in_dialog') {\n    currentIntent = 'details';\n  }\n}\n\n// History\nconst historyLimit = summaryContext ? 5 : 10;\nconst recentHistory = history.slice(0, historyLimit);\nconst historyText = recentHistory\n  .reverse()\n  .map(m => `${m.json.role === 'user' ? 'Клиент' : 'Бот'}: ${m.json.content}`)\n  .join('\\n') || '(новый диалог)';\n\n// Deadlock detection (не используется напрямую, но для логирования)\nconst isFrustration = currentIntent === 'frustration';\nconst isHumanRequest = currentIntent === 'human_request';\nconst isDeadlock = isFrustration || isHumanRequest;\nlet deadlockReason = null;\nif (isFrustration) deadlockReason = 'frustration';\nelse if (isHumanRequest) deadlockReason = 'human_request';\n\nreturn [{\n  json: {\n    message: input.text,\n    history: summaryContext + historyText,\n    conversation_id: user.conversation_id,\n    client_id: user.client_id,\n    remoteJid: input.remoteJid,\n    phone: input.phone,\n    currentIntent,\n    isInCooldown,\n    escalatedAt,\n    isDeadlock,\n    deadlockReason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        368
      ],
      "id": "11c44d56-f39f-4514-9685-e901f862bcad",
      "name": "Build Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " INSERT INTO messages (conversation_id, client_id, role, content, metadata)\n     VALUES\n       ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'user', '{{ $json.safe_message }}', '{\"fallback\": true}'),\n       ('{{ $json.conversation_id }}', '{{ $json.client_id }}', 'assistant', '{{ $json.safe_response }}', '{\"fallback\":\n     true, \"reason\": \"{{ $json.quality_reason }}\"}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2896,
        128
      ],
      "id": "37ab71b5-1ee1-4c88-beae-49e5c6a0e435",
      "name": "Save Messages (Fallback)1",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $('Parse Quality').item.json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $('Quality Decision').item.json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2672,
        128
      ],
      "id": "c9dbd13f-0523-48e1-ae96-379e85dd7548",
      "name": "Send Fallback2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.role, m.content FROM messages m JOIN conversations c ON m.conversation_id = c.id JOIN users u ON c.user_id = u.id WHERE u.phone = '{{ $json.phone }}' AND m.content IS NOT NULL AND m.content != '' ORDER BY m.created_at DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3696,
        272
      ],
      "id": "load-history-classifier-001",
      "name": "Load History for Classifier",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Skip Classifier?').first().json;\nconst historyRows = $('Load History for Classifier').all() || [];\n\nconst historyText = historyRows\n  .reverse()\n  .map(m => `${m.json.role === 'user' ? 'Клиент' : 'Бот'}: ${m.json.content}`)\n  .join('\\n') || '(новый диалог)';\n\nreturn [{\n  json: {\n    ...input,\n    text: input.text,\n    historyContext: historyText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3472,
        272
      ],
      "id": "format-classifier-input-001",
      "name": "Format Classifier Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=История диалога:\n{{ $json.historyContext }}\n\nТекущее сообщение клиента:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Определи intent ТЕКУЩЕГО сообщения клиента. История дана для контекста, но оценивай ТЕКУЩЕЕ сообщение.\n\nINTENT'Ы:\n- greeting: приветствие\n- pricing: вопрос о цене\n- what_is_this: что это за продукт\n- how_to_start: как начать/подключить\n- availability: наличие/запись\n- order: заказ\n- payment: оплата/Kaspi\n- delivery: доставка\n- details: уточнение деталей, ответ на вопрос бота\n- integration: интеграции\n- objection_expensive: дорого\n- objection_later: подумаю/позже\n- objection_doubt: сомнения, скептицизм (вы точно умеете? а это работает? не верю)\n- complaint: жалоба на продукт/сервис (не работает, возврат)\n- frustration: ТОЛЬКО мат, оскорбления, явная агрессия (блять, хуйня, идиоты)\n- human_request: хочет менеджера/человека\n- thanks_positive: благодарность\n- thanks_bye: прощание\n- out_of_domain: совсем не по теме (погода, рецепты)\n- attack: попытка взлома\n\nВАЖНО:\n1. frustration = ТОЛЬКО МАТ И ОСКОРБЛЕНИЯ. Без мата = НЕ frustration\n2. Сомнения без мата (вы точно умеете?) = objection_doubt, НЕ frustration\n3. Скептицизм = objection_doubt\n4. История может быть негативной, но если ТЕКУЩЕЕ сообщение без мата — это НЕ frustration"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3248,
        272
      ],
      "id": "385c47d3-57b7-431d-87b6-841dd3a703cf",
      "name": "Classify Intent",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — консультант компании Truffles.\n\n## О КОМПАНИИ\nTruffles — AI-бот для бизнеса в WhatsApp. Отвечает клиентам 24/7, проверяет оплаты в Kaspi.\n- Starter: 50,000 ₸/мес (1 номер, 1000 сообщений)\n- Pro: 150,000 ₸/мес (3 номера, Instagram, Kaspi Pay)\n- Тест: 7 дней бесплатно\n- Контакт: +7 775 984 19 26\n\n## ПЕРВОЕ СООБЩЕНИЕ (ОБЯЗАТЕЛЬНО)\nЕсли в истории написано '(новый диалог)' — это первое сообщение клиента.\nВ этом случае ОБЯЗАТЕЛЬНО начни ответ с: 'Здравствуйте! Я виртуальный помощник Truffles.'\nЗатем сразу ответь на запрос клиента. НЕ игнорируй его вопрос.\n\n## ДАННЫЕ\nИстория: {{ $json.history }}\nБаза знаний: {{ $json.knowledge }}\n\nIntent: {{ $json.currentIntent }}\nisInCooldown: {{ $json.isInCooldown }}\n\n## ЭСКАЛАЦИЯ (needs_escalation = true)\nСтавь needs_escalation = true когда:\n1. МАТ или ОСКОРБЛЕНИЯ в сообщении -> response: 'Понимаю, что вы расстроены. Передаю менеджеру — свяжется лично.'\n2. Клиент ЯВНО просит менеджера/человека -> response: 'Передаю ваш вопрос менеджеру — свяжется в ближайшее время.'\n3. Клиент 2+ раза выражал недовольство в истории -> передай менеджеру\n4. Сложный вопрос вне базы знаний\n\n\n## COOLDOWN ЭСКАЛАЦИИ\nЕсли в данных есть isInCooldown = true И intent НЕ human_request:\n- НЕ ставь needs_escalation = true\n- Ответь: \"Менеджер уже в курсе и свяжется с вами.\"\n- Исключение: если клиент ЯВНО просит менеджера (human_request) — эскалируй\n\n## ПРАВИЛА ОТВЕТА\n1. Отвечай по делу, коротко (3-4 предложения макс)\n2. НЕ ВЫДУМЫВАЙ — только факты из базы знаний\n3. Указывай SOURCE — откуда взял информацию\n4. Если source = none — предупреди: 'Точно не скажу, лучше уточнить у менеджера'\n\n## SOURCE (ОБЯЗАТЕЛЬНО)\n- faq.md — тарифы, функции, подключение\n- objections.md — работа с возражениями (дорого, подумаю)\n- cases.md — примеры клиентов\n- examples.md — примеры диалогов\n- none — если нет подходящего документа\n\n## АНТИ-ГАЛЛЮЦИНАЦИЯ\n- НЕ приписывай клиенту то что он не говорил\n- РАЗЛИЧАЙ: слова клиента vs предложения бота\n- Условное 'если бы X' ≠ желание X\n\n## ДЛИНА\n- 3-4 предложения максимум\n- Без списков\n- Одна мысль — один ответ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1328,
        416
      ],
      "id": "d0c2e59a-bda7-4af9-a4cb-5ec61efbbc78",
      "name": "Generate Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.needs_escalation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "0a52ed57-fcfd-4cc8-a9d5-520a62eb4f23"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -976,
        416
      ],
      "id": "38848881-1ebf-4306-8a7d-2d80fc7be538",
      "name": "Check Escalation"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build Context').first().json;\nconst generation = $('Generate Response').first().json.output;\n\nconst escapeSQL = (str) => String(str || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    conversation_id: prev.conversation_id,\n    client_id: prev.client_id,\n    remoteJid: prev.remoteJid,\n    phone: prev.phone,\n    message: prev.message,\n    response: generation.response,\n    safe_message: escapeSQL(prev.message),\n    safe_response: escapeSQL(generation.response),\n    thinking: generation.thinking,\n    has_answer: generation.has_answer,\n    needs_escalation: generation.needs_escalation,\n    source: generation.source || 'none'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        272
      ],
      "id": "29dc5b93-4bd1-4147-8a58-1b2bbf58077e",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Input').first().json;\n     const intent = $json.output?.intent || $json.intent;\n\n     let response;\n     if (intent === 'attack') {\n       response = 'Я консультант Truffles. Чем могу помочь по вопросам AI-ботов для бизнеса?';\n     } else {\n       response = 'Я консультант Truffles — мы делаем AI-ботов для WhatsApp, которые отвечают вашим клиентам 24/7. Бот работает даже ночью, когда менеджер спит 😊\\n\\nЕсли интересует автоматизация для бизнеса — спрашивайте!'; }\n\n     return [{\n       json: {\n         phone: input.phone,\n         remoteJid: input.remoteJid,\n         response: response,\n         intent: intent\n       }\n     }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        704
      ],
      "id": "79f0bd09-f6a1-4310-a0a3-793b14fecd3c",
      "name": "Build Off-Topic Response"
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1552,
        832
      ],
      "id": "9393af23-76e9-4624-81e2-588808d82b48",
      "name": "Send Off-Topic"
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6Im1haW4tdHJhZGluZyJ9"
            },
            {
              "name": "jid",
              "value": "={{ $('Prepare Response').item.json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $('Prepare Response').first().json.response }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        368
      ],
      "id": "6e23777c-3f15-43a5-8f7a-4f046b7e291e"
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzYyMTExNDU2fQ.myOt6xgCLfqbD9IF9EdJxkAyjij3fMty1B7sOhP2iKA"
            },
            {
              "name": "instance_id",
              "value": "eyJ1aWQiOiJhTFpMend0d1AzUnBCWHpHNlNzbG1aNWNTOTZib1F5YyIsImNsaWVudF9pZCI6InRydWZmbGVzLWNoYXRib3QifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $('Prepare Response').item.json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $('Prepare Response').item.json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4592,
        -96
      ],
      "id": "dbaa64be-2315-4980-9766-076ba5f3f1ff",
      "name": "Send to WhatsApp",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "1969855532",
        "text": "=📱 Клиент: {{ $('Prepare Response').item.json.phone }}\n💬 Сообщение: {{ $('Prepare Response').item.json.message }}\n\n🤖 Бот: {{ $('Prepare Response').item.json.response }}\n🧠 Intent: {{ $('Build Context').item.json.currentIntent }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "dc623a97-5934-4324-9f24-61814ac3a6c0",
      "name": "Me1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        176
      ],
      "webhookId": "2cc848c8-10f5-4ade-9164-426d7d84dac9",
      "credentials": {
        "telegramApi": {
          "id": "1YMuki43SISyhVa0",
          "name": "TradingBot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "1969855532",
        "text": "=🚨 ЭСКАЛАЦИЯ\n\n📱 Клиент: {{ $('Build Context').first().json.phone }}\n💬 Сообщение: {{ $('Build Context').first().json.message }}\n\n🤖 Ответ бота: {{ $json.output.response }}\n🧠 Причина: {{ $json.output.thinking }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "12b399c1-a6d0-4752-a631-1206cda1b03d",
      "name": "Me2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -752,
        208
      ],
      "webhookId": "2cc848c8-10f5-4ade-9164-426d7d84dac9",
      "credentials": {
        "telegramApi": {
          "id": "DFybSmTMlRzSErWx",
          "name": "TrufflesChatBot"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4592,
        400
      ],
      "id": "95c425cb-c680-4eee-87c0-e124020f1118",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "// Intent Router — направляет поток на основе intent_type\n// greeting/answer → Main Flow (skip Classifier)\n// question/statement → Classifier\n\nconst input = $json;\n\n// Получаем данные от TurnDetector через Start\nconst rawData = $('Start').first().json;\nconst turnAnalysis = rawData.turn_analysis || {};\nconst intentType = turnAnalysis.intent_type || 'unknown';\nconst mergedMessage = turnAnalysis.merged_message || input.text || '';\nconst contextHint = turnAnalysis.context_hint || '';\n\n// Нормализуем текст для проверки\nconst textLower = mergedMessage.toLowerCase().trim();\n\n// === ЭВРИСТИКИ ДЛЯ ПРИВЕТСТВИЙ ===\nconst greetingPatterns = [\n  'привет', 'здравствуй', 'добрый день', 'добрый вечер',\n  'доброе утро', 'добрый', 'хай', 'хелло', 'hello', 'hi',\n  'салем', 'сәлем', 'ассалам', 'здорово', 'приветствую',\n  'доброго времени', 'день добрый', 'вечер добрый'\n];\n\nconst isGreetingByText = greetingPatterns.some(p => textLower.includes(p));\nconst isGreetingByHint = contextHint.toLowerCase().includes('приветств');\n\n// === ЭВРИСТИКИ ДЛЯ КОРОТКИХ ОТВЕТОВ ===\nconst shortAnswers = [\n  'да', 'нет', 'ок', 'окей', 'хорошо', 'ладно', 'понял',\n  'ага', 'угу', 'давай', 'го', 'конечно', 'согласен'\n];\nconst isShortAnswer = shortAnswers.includes(textLower);\n\n// === ОПРЕДЕЛЯЕМ РОУТИНГ ===\nlet skipClassifier = false;\nlet routeReason = '';\n\n// 1. Приветствие — всегда ON-TOPIC\nif (intentType === 'greeting' || isGreetingByText || isGreetingByHint) {\n  skipClassifier = true;\n  routeReason = 'greeting_on_topic';\n}\n// 2. Ответ на вопрос бота — клиент уже в диалоге\nelse if (intentType === 'answer' || isShortAnswer) {\n  skipClassifier = true;\n  routeReason = 'answer_in_dialog';\n}\n// 3. Вопрос или утверждение — нужна тематическая проверка\nelse {\n  skipClassifier = false;\n  routeReason = 'needs_topic_check';\n}\n\nreturn [{\n  json: {\n    ...input,\n    _routing: {\n      intentType,\n      skipClassifier,\n      routeReason,\n      isGreetingByText,\n      isGreetingByHint,\n      isShortAnswer,\n      mergedMessage\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        400
      ],
      "id": "045ea37e-bd83-4bef-9b90-bfaa8404b665",
      "name": "Intent Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5f218a5-0a1e-412f-92a3-b3b5c7521df0",
              "leftValue": "={{ $json._routing.skipClassifier }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3920,
        400
      ],
      "id": "aa432e5b-f3bd-482c-9c15-137f4be2b020",
      "name": "Skip Classifier?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "deadlock-check-1",
              "leftValue": "={{ $json.isDeadlock }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        880
      ],
      "id": "deadlock-router-001",
      "name": "Is Deadlock"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Context').first().json;\nconst escapeSQL = (str) => String(str || '').replace(/'/g, \"''\");\n\nlet response;\nif (ctx.deadlockReason === 'human_request') {\n  response = 'Передаю ваш вопрос менеджеру — свяжется в ближайшее время.';\n} else if (ctx.deadlockReason === 'frustration') {\n  response = 'Понимаю, что вы расстроены. Передаю менеджеру — свяжется с вами лично.';\n} else if (ctx.deadlockReason === 'post_deadlock') {\n  response = 'Менеджер уже в курсе и свяжется с вами.';\n} else {\n  response = 'Передаю менеджеру — свяжется в ближайшее время.';\n}\n\nreturn [{\n  json: {\n    conversation_id: ctx.conversation_id,\n    client_id: ctx.client_id,\n    remoteJid: ctx.remoteJid,\n    phone: ctx.phone,\n    message: ctx.message,\n    response: response,\n    safe_message: escapeSQL(ctx.message),\n    safe_response: escapeSQL(response),\n    isDeadlock: true,\n    deadlockReason: ctx.deadlockReason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        928
      ],
      "id": "deadlock-response-001",
      "name": "Deadlock Response"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Context').first().json;\nconst prep = $('Prepare Response').first().json;\n\n// Format conversation for summarization\nconst history = ctx.history || '';\nconst lastMessage = ctx.message;\nconst botResponse = prep.response;\n\nconst fullConversation = history + '\\nКлиент: ' + lastMessage + '\\nБот: ' + botResponse;\n\nreturn [{\n  json: {\n    conversation_id: ctx.conversation_id,\n    client_id: ctx.client_id,\n    conversation: fullConversation,\n    current_intent: ctx.currentIntent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        768
      ],
      "id": "summarize-prep-001",
      "name": "Prepare for Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.conversation }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — суммаризатор диалогов. Сжми диалог в краткую выжимку.\n\nЧТО ВКЛЮЧАТЬ:\n- Что хотел клиент (intent)\n- Какой бизнес (если сказал)\n- Что решили: interested, refused, thinking, unknown\n- Важные детали\n\nЧТО НЕ ВКЛЮЧАТЬ:\n- Приветствия, мат, жалобы\n- Повторы\n\nФОРМАТ JSON:\n{\n  \"summary\": \"1-2 предложения\",\n  \"key_facts\": {\n    \"intent\": \"что хотел\",\n    \"business\": \"тип бизнеса или unknown\",\n    \"decision\": \"interested | refused | thinking | unknown\"\n  },\n  \"last_intent\": \"последний intent\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -528,
        768
      ],
      "id": "summarize-llm-001",
      "name": "Summarize Conversation"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": {\"type\": \"string\"},\n    \"key_facts\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"intent\": {\"type\": \"string\"},\n        \"business\": {\"type\": \"string\"},\n        \"decision\": {\"type\": \"string\", \"enum\": [\"interested\", \"refused\", \"thinking\", \"unknown\"]}\n      }\n    },\n    \"last_intent\": {\"type\": \"string\"}\n  },\n  \"required\": [\"summary\", \"key_facts\", \"last_intent\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -400,
        992
      ],
      "id": "summary-parser-001",
      "name": "Summary Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        992
      ],
      "id": "summary-model-001",
      "name": "Summary Model",
      "credentials": {
        "openAiApi": {
          "id": "C31JRkzPBiItNcOT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_summaries (conversation_id, client_id, summary, key_facts, last_intent)\nVALUES (\n  '{{ $('Prepare for Summary').item.json.conversation_id }}',\n  '{{ $('Prepare for Summary').item.json.client_id }}',\n  '{{ $json.output.summary.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.output.key_facts).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.output.last_intent.replace(/'/g, \"''\") }}'\n)\nON CONFLICT (conversation_id) DO UPDATE SET\n  summary = EXCLUDED.summary,\n  key_facts = EXCLUDED.key_facts,\n  last_intent = EXCLUDED.last_intent,\n  updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        768
      ],
      "id": "save-summary-001",
      "name": "Save Summary",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT summary, key_facts, last_intent\nFROM conversation_summaries\nWHERE conversation_id = '{{ $('Upsert User').item.json.conversation_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2224,
        560
      ],
      "id": "load-summary-001",
      "name": "Load Summary",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  escalated_at,\n  CASE \n    WHEN escalated_at IS NULL THEN FALSE\n    WHEN escalated_at > NOW() - INTERVAL '30 minutes' THEN TRUE\n    ELSE FALSE\n  END as is_in_cooldown\nFROM conversations\nWHERE id = '{{ $('Upsert User').item.json.conversation_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2224,
        176
      ],
      "id": "load-escalation-status-001",
      "name": "Load Escalation Status",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations \nSET escalated_at = NOW()\nWHERE id = '{{ $('Build Context').first().json.conversation_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        464
      ],
      "id": "update-escalation-001",
      "name": "Update Escalation Time",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nconst clientSlug = $('Parse Input').first().json.client_slug || 'truffles';\n\n// 1. Get embedding from BGE-M3\nconst bgeResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://bge-m3:80/embed',\n    body: { inputs: ctx.message },\n    json: true\n});\n\nconst vector = bgeResponse[0];\n\n// 2. Search Qdrant with client filter\nconst searchPayload = {\n    vector: vector,\n    limit: 5,\n    with_payload: true,\n    filter: {\n        must: [\n            { key: 'metadata.client_slug', match: { value: clientSlug } }\n        ]\n    }\n};\n\nconst searchResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://qdrant:6333/collections/truffles_knowledge/points/search',\n    headers: {\n        'api-key': 'Iddqd777!',\n        'Content-Type': 'application/json'\n    },\n    body: searchPayload,\n    json: true\n});\n\nconst results = searchResponse.result || [];\n\n// 3. Format knowledge\nconst knowledge = results\n    .map(r => r.payload?.content || '')\n    .filter(t => t)\n    .join('\\n\\n---\\n\\n') || '(нет информации в базе)';\n\nreturn {\n    json: {\n        ...ctx,\n        knowledge: knowledge,\n        rag_scores: results.map(r => r.score),\n        client_slug: clientSlug\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        416
      ],
      "id": "7b1a9b49-1856-4f17-9c74-4a9e2fb3fa59",
      "name": "RAG Search"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO message_traces (\n    phone,\n    conversation_id,\n    message,\n    intent,\n    rag_top_score,\n    rag_top_doc,\n    rag_scores,\n    response,\n    has_answer,\n    needs_escalation\n) VALUES (\n    '{{ $('Build Context').first().json.phone }}',\n    '{{ $('Build Context').first().json.conversation_id }}',\n    '{{ $('Build Context').first().json.message.replace(/'/g, \"''\") }}',\n    '{{ $('Build Context').first().json.currentIntent }}',\n    {{ $('RAG Search').first().json.rag_scores[0] || 0 }},\n    '{{ $('RAG Search').first().json.knowledge.substring(0, 50).replace(/'/g, \"''\") }}',\n    '{{ JSON.stringify($('RAG Search').first().json.rag_scores || []) }}',\n    '{{ $json.response.replace(/'/g, \"''\") }}',\n    {{ $json.has_answer || false }},\n    {{ $json.needs_escalation || false }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        432
      ],
      "id": "09f4ae61-aa8a-4f8e-9ab2-7c3e880b18e8",
      "name": "Save Trace",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "channel": "whatsapp",
          "user_id": "77015705555",
          "session_id": "77015705555@s.whatsapp.net",
          "sender_name": "Zh.",
          "buffered_messages": [
            {
              "text": "расскажи про компанию",
              "type": "text",
              "timestamp": 1765070184,
              "message_id": "3F1360425D02B7902C41"
            },
            {
              "text": "чем занимаетесь",
              "type": "text",
              "timestamp": 1765070188,
              "message_id": "3FDB3E5E83B2F5BAB163"
            }
          ],
          "buffered_count": 2,
          "merged_text": "расскажи про компанию\nчем занимаетесь",
          "has_audio": false,
          "has_image": false,
          "last_message_type": "text",
          "heuristics": {
            "confidence": 0.7,
            "intent_type": "unknown",
            "skip_llm": false
          },
          "turn_analysis": {
            "is_complete": true,
            "intent_type": "question",
            "merged_message": "Расскажи про компанию, чем вы занимаетесь?",
            "context_hint": "компания, деятельность",
            "confidence": 0.7
          }
        }
      }
    ]
  },
  "connections": {
    "Parse Input": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages": {
      "main": [
        [
          {
            "node": "Me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Escalation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Is On Topic": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Off-Topic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Knowledge": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Response",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "RAG Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Deadlock": {
      "main": [
        [
          {
            "node": "Deadlock Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deadlock Response": {
      "main": [
        [
          {
            "node": "Send Off-Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages (Fallback)1": {
      "main": [
        [
          {
            "node": "Send Fallback2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Is On Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Messages (Fallback)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Check Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Escalation": {
      "main": [
        [
          {
            "node": "Me2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare for Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Save Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Off-Topic Response": {
      "main": [
        [
          {
            "node": "Send Off-Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Me2": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Escalation Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Skip Classifier?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Classifier?": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load History for Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load History for Classifier": {
      "main": [
        [
          {
            "node": "Format Classifier Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Classifier Input": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Summary": {
      "main": [
        [
          {
            "node": "Summarize Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Conversation": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Conversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summary Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize Conversation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "RAG Search": {
      "main": [
        [
          {
            "node": "Add Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b608f479-ec58-4c6b-8a43-90b6f16ba0b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01b56804ece88a9cc615224a075b1fb601dddc8bc8fa664ead4d87907f4c7973"
  },
  "id": "4vaEvzlaMrgovhNz",
  "tags": []
}