ops/7_Escalation_Handler_before_history.json
{
  "updatedAt": "2025-12-08T09:25:27.056Z",
  "createdAt": "2025-12-08T02:53:34.705Z",
  "id": "7jGZrdbaAAvtTnQX",
  "name": "7_Escalation_Handler",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        304
      ],
      "id": "esc-start-001",
      "name": "Start"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.bot_status,\n  c.no_count,\n  c.bot_muted_until,\n  c.user_id,\n  cs.telegram_chat_id,\n  cs.telegram_bot_token,\n  cs.silence_after_first_no_minutes,\n  cs.max_retry_offers,\n  cl.name as client_name,\n  cl.config->>'instance_id' as instance_id\nFROM conversations c\nJOIN clients cl ON c.client_id = cl.id\nLEFT JOIN client_settings cs ON cs.client_id = cl.id\nWHERE c.id = '{{ $json.conversation_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        304
      ],
      "id": "esc-load-status-001",
      "name": "Load Status",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Start').first().json;\nconst status = $json;\n\nconst botStatus = status.bot_status || 'active';\nconst noCount = status.no_count || 0;\nconst mutedUntil = status.bot_muted_until ? new Date(status.bot_muted_until) : null;\nconst now = new Date();\n\nconst silenceMinutes = status.silence_after_first_no_minutes || 30;\n\nconst isMuted = botStatus === 'muted' && mutedUntil && now < mutedUntil;\n\nlet action = 'process';\nlet responseText = null;\nlet shouldMute = false;\nlet newNoCount = noCount;\n\nif (isMuted) {\n  action = 'silent_exit';\n} else if (input.reason === 'human_request') {\n  newNoCount = noCount + 1;\n  if (newNoCount === 1) {\n    // \u0424\u0418\u041a\u0421\u0418\u0420\u041e\u0412\u0410\u041d\u041d\u042b\u0419 \u0442\u0435\u043a\u0441\u0442, \u0431\u0435\u0437 \u0432\u0430\u0440\u0438\u0430\u0446\u0438\u0439\n    responseText = '\u041f\u0435\u0440\u0435\u0434\u0430\u044e \u0432\u0430\u0448 \u0432\u043e\u043f\u0440\u043e\u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0443 \u2014 \u0441\u0432\u044f\u0436\u0435\u0442\u0441\u044f \u0432 \u0431\u043b\u0438\u0436\u0430\u0439\u0448\u0435\u0435 \u0432\u0440\u0435\u043c\u044f.';\n    shouldMute = true;\n  } else {\n    action = 'silent_exit';\n  }\n} else if (input.reason === 'frustration') {\n  responseText = '\u041f\u043e\u043d\u0438\u043c\u0430\u044e, \u043f\u0435\u0440\u0435\u0434\u0430\u044e \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0443 \u2014 \u0441\u0432\u044f\u0436\u0435\u0442\u0441\u044f \u0441 \u0432\u0430\u043c\u0438 \u043b\u0438\u0447\u043d\u043e.';\n  shouldMute = true;\n  newNoCount = noCount + 1;\n} else {\n  // \u0414\u043b\u044f \u0434\u0440\u0443\u0433\u0438\u0445 \u0441\u043b\u0443\u0447\u0430\u0435\u0432 - \u0442\u043e\u0436\u0435 \u0444\u0438\u043a\u0441\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442\n  responseText = '\u0423\u0442\u043e\u0447\u043d\u044e \u0443 \u043a\u043e\u043b\u043b\u0435\u0433 \u0438 \u0432\u0435\u0440\u043d\u0443\u0441\u044c \u0441 \u043e\u0442\u0432\u0435\u0442\u043e\u043c.';\n}\n\nreturn [{\n  json: {\n    ...input,\n    conversation_id: input.conversation_id,\n    user_id: status.user_id,\n    current_bot_status: botStatus,\n    current_no_count: noCount,\n    is_muted: isMuted,\n    action,\n    response_text: responseText,\n    should_mute: shouldMute,\n    new_no_count: newNoCount,\n    silence_minutes: silenceMinutes,\n    telegram_chat_id: status.telegram_chat_id,\n    telegram_bot_token: status.telegram_bot_token,\n    client_name: status.client_name,\n    instance_id: status.instance_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        304
      ],
      "id": "esc-decide-001",
      "name": "Decide Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        304
      ],
      "id": "esc-should-process-001",
      "name": "Should Process?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations SET\n  bot_status = CASE WHEN {{ $('Decide Action').first().json.should_mute }} THEN 'muted' ELSE bot_status END,\n  bot_muted_until = CASE WHEN {{ $('Decide Action').first().json.should_mute }} THEN NOW() + INTERVAL '{{ $('Decide Action').first().json.silence_minutes }} minutes' ELSE bot_muted_until END,\n  no_count = {{ $('Decide Action').first().json.new_no_count }}\nWHERE id = '{{ $('Decide Action').first().json.conversation_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        208
      ],
      "id": "esc-update-conv-001",
      "name": "Update Conversation",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO handovers (\n  conversation_id,\n  client_id,\n  user_message,\n  status,\n  trigger_type,\n  trigger_value,\n  escalation_reason\n) VALUES (\n  '{{ $('Decide Action').first().json.conversation_id }}',\n  '{{ $('Decide Action').first().json.client_id }}',\n  '{{ $('Decide Action').first().json.message.replace(/'/g, \"''\") }}',\n  'pending',\n  'intent',\n  '{{ $('Decide Action').first().json.reason }}',\n  '{{ $('Decide Action').first().json.reason }}'\n) RETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        208
      ],
      "id": "esc-create-handover-001",
      "name": "Create Handover",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-telegram",
              "leftValue": "={{ $('Decide Action').first().json.telegram_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        208
      ],
      "id": "esc-has-telegram-001",
      "name": "Has Telegram?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fFPEbTNlkBSjo66A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_chat_id": "={{ $('Decide Action').first().json.telegram_chat_id }}",
            "telegram_bot_token": "={{ $('Decide Action').first().json.telegram_bot_token }}",
            "phone": "={{ $('Decide Action').first().json.phone }}",
            "client_name": "={{ $('Decide Action').first().json.client_name }}",
            "client_slug": "={{ $('Start').first().json.client_slug }}",
            "business_name": "={{ $('Decide Action').first().json.client_name }}",
            "message": "={{ $('Decide Action').first().json.message }}",
            "handover_id": "={{ $('Create Handover').first().json.id }}",
            "conversation_id": "={{ $('Decide Action').first().json.conversation_id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        100
      ],
      "id": "esc-send-telegram-http-001",
      "name": "Call Telegram Adapter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1969855532"
            },
            {
              "name": "text",
              "value": "=\u26a0\ufe0f \u042d\u0441\u043a\u0430\u043b\u0430\u0446\u0438\u044f \u0431\u0435\u0437 Telegram \u0433\u0440\u0443\u043f\u043f\u044b!\n\n\u041a\u043b\u0438\u0435\u043d\u0442: {{ $('Decide Action').first().json.client_name }}\n\u041d\u0443\u0436\u043d\u043e \u043d\u0430\u0441\u0442\u0440\u043e\u0438\u0442\u044c telegram_chat_id \u0432 client_settings"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        300
      ],
      "id": "esc-notify-admin-http-001",
      "name": "Notify Admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-response",
              "leftValue": "={{ $('Decide Action').first().json.response_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        208
      ],
      "id": "esc-should-respond-001",
      "name": "Should Respond?"
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "***********************************************************************************************************************************************************************************"
            },
            {
              "name": "instance_id",
              "value": "={{ $('Decide Action').first().json.instance_id }}"
            },
            {
              "name": "jid",
              "value": "={{ $('Decide Action').first().json.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $('Decide Action').first().json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        112
      ],
      "id": "esc-send-whatsapp-001",
      "name": "Send WhatsApp Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, client_id, role, content, metadata)\nVALUES (\n  '{{ $('Decide Action').first().json.conversation_id }}',\n  '{{ $('Decide Action').first().json.client_id }}',\n  'assistant',\n  '{{ $('Decide Action').first().json.response_text.replace(/'/g, \"''\") }}',\n  '{\"escalation\": true, \"reason\": \"{{ $('Decide Action').first().json.reason }}\"}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        112
      ],
      "id": "esc-save-response-001",
      "name": "Save Response",
      "credentials": {
        "postgres": {
          "id": "SUHrbh39Ig0fBusT",
          "name": "ChatbotDB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Silent exit - \u0431\u043e\u0442 \u0437\u0430\u043c\u044c\u044e\u0447\u0435\u043d \u0438\u043b\u0438 \u043f\u043e\u0432\u0442\u043e\u0440\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441\nreturn [{ json: { status: 'silent_exit', reason: $('Decide Action').first().json.action } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        512
      ],
      "id": "esc-silent-exit-001",
      "name": "Silent Exit"
    },
    {
      "parameters": {
        "jsCode": "// Return final status\nreturn [{\n  json: {\n    status: 'completed',\n    escalation_sent: true,\n    response_sent: !!$('Decide Action').first().json.response_text,\n    handover_id: $('Create Handover').first()?.json?.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        304
      ],
      "id": "esc-complete-001",
      "name": "Complete"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Load Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Status": {
      "main": [
        [
          {
            "node": "Decide Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Action": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Update Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Silent Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation": {
      "main": [
        [
          {
            "node": "Create Handover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Handover": {
      "main": [
        [
          {
            "node": "Has Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Telegram?": {
      "main": [
        [
          {
            "node": "Call Telegram Adapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Should Respond?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Respond?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Save Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Telegram Adapter": {
      "main": [
        [
          {
            "node": "Should Respond?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "output": {
            "thinking": "\u041a\u043b\u0438\u0435\u043d\u0442 \u044f\u0432\u043d\u043e \u043f\u0440\u043e\u0441\u0438\u0442 \u0441\u0432\u044f\u0437\u0430\u0442\u044c\u0441\u044f \u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u043e\u043c. \u0412 \u0431\u0430\u0437\u0435 \u0435\u0441\u0442\u044c \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0438 \u043f\u0440\u0430\u0432\u0438\u043b\u0430 \u044d\u0441\u043a\u0430\u043b\u0430\u0446\u0438\u0438 (\u043f\u0440\u0438 \u044f\u0432\u043d\u043e\u043c \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043a \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0443 \u043d\u0443\u0436\u043d\u043e \u043f\u043e\u0434\u043a\u043b\u044e\u0447\u0430\u0442\u044c \u0447\u0435\u043b\u043e\u0432\u0435\u043a\u0430). \u042d\u0441\u043a\u0430\u043b\u0438\u0440\u0443\u044e \u0438 \u0441\u043e\u043e\u0431\u0449\u0430\u044e \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u0434\u043b\u044f \u0441\u0440\u043e\u0447\u043d\u043e\u0439 \u0441\u0432\u044f\u0437\u0438.",
            "has_answer": true,
            "needs_escalation": true,
            "source": "faq.md",
            "response": "\u041f\u0435\u0440\u0435\u0434\u0430\u044e \u0432\u0430\u0448 \u0437\u0430\u043f\u0440\u043e\u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0443 \u2014 \u0441\u0432\u044f\u0436\u0435\u0442\u0441\u044f \u0432 \u0431\u043b\u0438\u0436\u0430\u0439\u0448\u0435\u0435 \u0432\u0440\u0435\u043c\u044f. \u0415\u0441\u043b\u0438 \u043d\u0443\u0436\u043d\u043e \u0441\u0440\u043e\u0447\u043d\u043e, \u043f\u043e\u0437\u0432\u043e\u043d\u0438\u0442\u0435 +7 775 984 19 26 \u0438\u043b\u0438 \u043d\u0430\u043f\u0438\u0448\u0438\u0442\u0435 \u043d\u0430 info@truffles.kz."
          },
          "conversation_id": "42f15f30-008c-471f-957e-a955f412907a",
          "client_id": "<CLIENT_ID>",
          "phone": "77015705555",
          "remoteJid": "77015705555@s.whatsapp.net",
          "message": "\u0425\u043e\u0447\u0443 \u0441\u0432\u044f\u0437\u0430\u0442\u044c\u0441\u044f \u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u043e\u043c.",
          "reason": "escalation",
          "bot_response": "\u041f\u0435\u0440\u0435\u0434\u0430\u044e \u0432\u0430\u0448 \u0437\u0430\u043f\u0440\u043e\u0441 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0443 \u2014 \u0441\u0432\u044f\u0436\u0435\u0442\u0441\u044f \u0432 \u0431\u043b\u0438\u0436\u0430\u0439\u0448\u0435\u0435 \u0432\u0440\u0435\u043c\u044f. \u0415\u0441\u043b\u0438 \u043d\u0443\u0436\u043d\u043e \u0441\u0440\u043e\u0447\u043d\u043e, \u043f\u043e\u0437\u0432\u043e\u043d\u0438\u0442\u0435 +7 775 984 19 26 \u0438\u043b\u0438 \u043d\u0430\u043f\u0438\u0448\u0438\u0442\u0435 \u043d\u0430 info@truffles.kz."
        }
      }
    ]
  },
  "versionId": "5230468c-f314-4ca1-ba25-921ccee69c68",
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T02:53:34.705Z",
      "createdAt": "2025-12-08T02:53:34.705Z",
      "role": "workflow:owner",
      "workflowId": "7jGZrdbaAAvtTnQX",
      "projectId": "Edco4DKU0vG4cvNQ",
      "project": {
        "updatedAt": "2025-07-26T06:30:59.771Z",
        "createdAt": "2025-07-26T06:24:57.612Z",
        "id": "Edco4DKU0vG4cvNQ",
        "name": "Zhanbol Nassurla <centr.ag3nt@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-26T06:24:57.612Z",
            "createdAt": "2025-07-26T06:24:57.612Z",
            "userId": "1017827a-5893-4c44-a900-9d2ec542dee9",
            "projectId": "Edco4DKU0vG4cvNQ",
            "user": {
              "updatedAt": "2025-12-07T20:43:38.891Z",
              "createdAt": "2025-07-26T06:24:40.626Z",
              "id": "1017827a-5893-4c44-a900-9d2ec542dee9",
              "email": "centr.ag3nt@gmail.com",
              "firstName": "Zhanbol",
              "lastName": "Nassurla",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-26T06:31:12.321Z",
                "personalization_survey_n8n_version": "1.103.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ZPaS9w6u3o0ZZZzm",
                "userActivatedAt": 1756215492707,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1755608081520
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
